﻿<div id="container"></div>
<script src="@Url.Content("~/Content/three.min.js")"></script>

<script src="@Url.Content("~/Content/threeutils/libs/stats.min.js")"></script>
<script src="@Url.Content("~/Content/threeutils/lights/RectAreaLightUniformsLib.js")"></script>

<script src="@Url.Content("~/Content/threeutils/WebGL.js")"></script>
<script src="@Url.Content("~/Content/threeutils/renderers/Projector.js")"></script>
<script src="@Url.Content("~/Content/threeutils/controls/OrbitControls.js")"></script>
<script src="@Url.Content("~/Content/threeutils/loaders/GLTFLoader.js")"></script>


<style>
    body {
        overflow:hidden;
        margin:0;
    }
</style>
<script>
    if (WEBGL.isWebGLAvailable() === false) {
        document.body.appendChild(WEBGL.getWebGLErrorMessage());
    }

    var mouseIsDown = false;
    var listSmartSwitch = ["smartswitch01", "smartswitch02", "smartswitch03","smartswitch04", "smartswitch05"];
    var camera, scene, renderer,
        hemiLight,
        object, loader, stats, raycaster;
    var ballMat, cubeMat, floorMat, saklarMat, ThermalCamMat;
    var mouse = new THREE.Vector2(), INTERSECTED, INTERSECTEDDBLCLCK;
    var intersectScene = {};
    var bulbLight = {};
    var bulbMat = {};
    var saklarMat = {};
    var saklarMesh = {};
    var switchMesh = {};
    var smartswitchTemplate;
    var smartplugTemplate;
    var thermalCameraTemplate;
    var cctvTemplate;
    var clientClickX, clientClickY;
    // ref for lumens: http://www.power-sure.com/lumens.htm
    var bulbLuminousPowers = {
        "110000 lm (1000W)": 110000,
        "3500 lm (300W)": 3500,
        "1700 lm (100W)": 1700,
        "800 lm (60W)": 800,
        "400 lm (40W)": 400,
        "180 lm (25W)": 180,
        "20 lm (4W)": 20,
        "Off": 0
    };
    // ref for solar irradiances: https://en.wikipedia.org/wiki/Lux
    var hemiLuminousIrradiances = {
        "0.0001 lx (Moonless Night)": 0.0001,
        "0.002 lx (Night Airglow)": 0.002,
        "0.5 lx (Full Moon)": 0.5,
        "3.4 lx (City Twilight)": 3.4,
        "50 lx (Living Room)": 50,
        "100 lx (Very Overcast)": 100,
        "350 lx (Office Room)": 350,
        "400 lx (Sunrise/Sunset)": 400,
        "1000 lx (Overcast)": 1000,
        "18000 lx (Daylight)": 18000,
        "50000 lx (Direct Sun)": 50000
    };

    var params = {
        shadows: true,
        exposure: 0.50,
        hemiIrradiance: Object.keys(hemiLuminousIrradiances)[4]
    };
    var paramsBulb = {};
    listSmartSwitch.map(function (val, idx) {

        paramsBulb[val] = {
            //bulbPower: Object.keys(bulbLuminousPowers)[2] // onnn
            bulbPower: Object.keys(bulbLuminousPowers)[7]
        };
    })

    var clock = new THREE.Clock();
    init();
    animate();

    function init() {
        var container = document.getElementById('container');
        camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.25, 20 );
        camera.position.set(5.8, 2.9, 3.7);

        scene = new THREE.Scene();

        hemiLight = new THREE.HemisphereLight(0xbbbbff, 0x444422);
        hemiLight.position.set(0, 1, 0);
        scene.add(hemiLight);


        var path = '@Url.Content("~/Content/threeutils/textures/cube/Bridge2/")';
        var format = '.jpg';
        var envMap = new THREE.CubeTextureLoader().load([
            path + 'posx' + format, path + 'negx' + format,
            path + 'posy' + format, path + 'negy' + format,
            path + 'posz' + format, path + 'negz' + format
        ]);

        var loader = new THREE.GLTFLoader();
        loader.load("@Url.Content("~/Content/hitachi_building.gltf")", function (gltf) {

            gltf.scene.traverse(function (child) {

                if (child.isMesh) {

                    child.material.envMap = envMap;

                }

            });

            intersectScene = scene.children;
            var newScene = gltf.scene.children.map(function (sc, i) {
                intersectScene.push(sc);
            });
            scene.add(gltf.scene);

        }, undefined, function (e) {

            console.error(e);

        });

        raycaster = new THREE.Raycaster();

        renderer = new THREE.WebGLRenderer({ antialias: true });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        container.appendChild(renderer.domElement);

        console.log(camera.rotation, "ROTATION BEFORE");
        var controls = new THREE.OrbitControls(camera, renderer.domElement);

        controls.target.set(0, -0.2, -0.2);
        controls.update();

        document.addEventListener('mouseup', onDocumentMouseClick, true);
        //document.addEventListener('dblclick', onDocumentMouseDblClick, true);
        document.addEventListener('mousedown', function (ev) {
            clientClickX = ev.clientX;
            clientClickY = ev.clientY;
        }, false);
        window.addEventListener('resize', onWindowResize, false);
    }

    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
    }

    function onDocumentMouseDblClick(event) {
        console.log("MASUK DOUBLE CLICK");
        event.preventDefault();
        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
        if (event.clientX != clientClickX || event.clientY != clientClickY)
            return;
        raycaster.setFromCamera(mouse, camera);
        var intersects = raycaster.intersectObjects(intersectScene);
        if (intersects.length > 0) {

            var intersect_arr = intersects[0].object.name.split("-");
            var intersect_key = "";
            var intersect_id = "";

            if (intersect_arr.length > 0) {
                intersect_key = intersect_arr[0];
                intersect_id = intersect_arr[1];
            } else {
                intersect_key = INTERSECTEDDBLCLCK.name;
            }

            //if (INTERSECTEDDBLCLCK != intersects[0].object) {

                console.log(intersect_key);
                //if (INTERSECTED) INTERSECTED.material.color.setHex(INTERSECTED.currentHex);

                INTERSECTEDDBLCLCK = null;

                console.log(intersects[0].object);
                INTERSECTEDDBLCLCK = intersects[0].object;

                //console.log(INTERSECTED.material.emissive);
                if (typeof INTERSECTEDDBLCLCK.material.color != "undefined") {
                    //INTERSECTED.material.color.setHex(INTERSECTED.currentHex);
                    //INTERSECTED.currentHex = "0xffffff";
                }

                if (typeof intersects[0].object.callback != "undefined") {
                    intersects[0].object.callback();
                }
                console.log(intersect_key, "INTERSECT KEY");
                SELECTED = intersects[0].object;
                //INTERSECTED.material.emissive.setHex(0xff0000);
                console.log(intersect_key);
                if (intersect_key != "room_plate") {
                    console.log(intersect_key);

                    /*
                    camera.position.set(-0.48085393043668573, 6.569953332757972, -8.142043226513074);
                    camera.rotation.set(-2.449725638996527, -0.035828840897730814, -3.1119242431194216);
                    camera.quarternion.set(-0.007879326551073158, -0.9405949898185979, -0.3387333415982316, 0.02187931970946756);
                    console.log(camera);*/
                }
            //}
        } else {
            //if (INTERSECTED) INTERSECTED.material.emissive.setHex(INTERSECTED.currentHex);
            INTERSECTEDDBLCLCK = null;
        }

    }

    function onDocumentMouseClick(event) {
        event.preventDefault();

        console.log("Execute Mouse Up");


        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;

        raycaster.setFromCamera(mouse, camera);
        var intersects = raycaster.intersectObjects(intersectScene);
        if (intersects.length > 0) {

            console.log(camera);
            var intersect_arr = intersects[0].object.name.split("-");
            var intersect_key = "";
            var intersect_id = "";

            if (intersect_arr.length > 0) {
                intersect_key = intersect_arr[0];
                intersect_id = intersect_arr[1];
            } else {
                intersect_key = INTERSECTED.name;
            }

            //if (INTERSECTED != intersects[0].object) {

                //if (INTERSECTED) INTERSECTED.material.color.setHex(INTERSECTED.currentHex);

                INTERSECTED = null;

                console.log(intersects[0].object);
                INTERSECTED = intersects[0].object;

                //console.log(INTERSECTED.material.emissive);
                if (typeof INTERSECTED.material.color != "undefined") {
                    //INTERSECTED.material.color.setHex(INTERSECTED.currentHex);
                    //INTERSECTED.currentHex = "0xffffff";
                }

                if (typeof intersects[0].object.callback != "undefined") {
                    intersects[0].object.callback();
                }
                console.log(intersect_key, "INTERSECT KEY");
                SELECTED = intersects[0].object;
                //INTERSECTED.material.emissive.setHex(0xff0000);
                if (intersect_key == "room_plate" || intersect_key == "room_text") {
                    window.parent["buildingDTHandler"]();
                }
            //}
        } else {
            //if (INTERSECTED) INTERSECTED.material.emissive.setHex(INTERSECTED.currentHex);
            INTERSECTED = null;
        }
    }
    //
    var rotateExecuted = false;
    function animate() {
        requestAnimationFrame(animate);
        render();
    }
    var previousShadowMap = false;

    function render() {
        //renderer.toneMappingExposure = Math.pow(params.exposure, 5.0); // to allow for very bright scenes.
        //renderer.shadowMap.enabled = params.shadows;
        /*bulbLight.castShadow = params.shadows;
        if (params.shadows !== previousShadowMap) {
            ballMat.needsUpdate = true;
            cubeMat.needsUpdate = true;
            saklarMat.needsUpdate = true;
            //ThermalCamMat.needsUpdate = true;
            floorMat.needsUpdate = true;
            previousShadowMap = params.shadows;
        }*/

        var time = Date.now() * 0.0005;
        //hemiLight.intensity = hemiLuminousIrradiances[params.hemiIrradiance];

        renderer.render(scene, camera);
    }
   function setswitch(voData) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("SetSwitch", "Dashboard")',
            data: voData,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                console.log(result);
            },
            error: function (xmlhttprequest, textstatus, message) {
                if (textstatus === "timeout") {
                    console.log("timmeout");
                } else {
                    console.log("Device offline");
                }
            }
        });
    }

</script>