﻿
@{
    ViewBag.Title = "Overview";
    ViewBag.TitleBar = "Overview";
}

<div class="body-content">
    <div class="card">
        <div class="card-body">
            <div class="row p-2">
                <div class="col-md-6">
                    <button class="btn btn-primary" onclick="expandAll()">
                        <i class="fa fa-plus"></i>
                        Expand All
                    </button>
                    <button class="btn btn-primary">
                        <i class="fa fa-filter"></i>
                        Filter
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <input type="text" class="has-input" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-overview">
        <thead>
            <tr>
                <td style="width: 100px">
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-wind"></i>
                </td>
                <td>
                    <i class="fa fa-lightbulb"></i>
                </td>
                <td>
                    <i class="fa fa-plug"></i>
                </td>
                <td>
                    <i class="fa fa-users"></i>
                </td>
                <td>
                    <i class="fa fa-door-open"></i>
                </td>
                <td>
                    <i class="fa fa-window-maximize"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-sun"></i>
                </td>
                <td>
                    <i class="fa fa-thermometer-full"></i>
                </td>
                <td>
                    <i class="fa fa-tint"></i>
                </td>
                <td>
                    <i class="fa fa-adjust"></i>
                </td>
                <td>
                    <i class="fa fa-lightbulb"></i>
                </td>
                <td>
                    <i class="fa fa-door-closed"></i>
                </td>
                <td>
                    <i class="fa fa-wind"></i>
                </td>
                <td>
                    <i class="fab fa-soundcloud"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-clock"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-tv"></i>
                </td>
                <td>
                    <i class="fa fa-volume-up"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-traffic-light"></i>
                </td>
                <td>
                    <i class="fa fa-traffic-light"></i>
                </td>
                <td>
                    <i class="fa fa-traffic-light"></i>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="overview-row expanded" data-level-id="1">
                <td colspan="26">
                    <a href="javascript:void(0);" class="trigger-click">
                        <i class="fa fa-chevron-down"></i>
                        <span>Tower 1</span>
                    </a>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-1" data-parent-id="1">
                <td>
                    <a href="javascript:void(0);" class="trigger-click">
                        <i class="fa fa-chevron-down"></i>
                        <span>L3</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    ---
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-down text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-1-1" data-parent-id="1-1">
                <td>
                    <a href="javascript:void(0);">
                        <span>Room CEC</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-lock-open text-primary"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-down text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-1-2" data-parent-id="1-1">
                <td>
                    <a href="javascript:void(0);">
                        <span>Room Alive</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-lock text-primary"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-arrow-down text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
            </tr>

            <tr class="overview-row expanded" data-level-id="1-2" data-parent-id="1">
                <td>
                    <a href="javascript:void(0);" class="trigger-click">
                        <i class="fa fa-chevron-down"></i>
                        <span>L7</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    ---
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-2-1" data-parent-id="1-2">
                <td>
                    <a href="javascript:void(0);">
                        <span>Zone A</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-lock-open text-primary"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-2-2" data-parent-id="1-2">
                <td>
                    <a href="javascript:void(0);">
                        <span>Zone B</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-lock-open text-primary"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-down text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
            </tr>
            <tr class="overview-row expanded" data-level-id="1-2-3" data-parent-id="1-2">
                <td>
                    <a href="javascript:void(0);">
                        <span>Zone C</span>
                    </a>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-lock text-primary"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-left text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-times-circle"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                </td>
                <td>
                    <i class="fa fa-arrow-up text-danger"></i>
                </td>
                <td>
                    <i class="fa fa-dot-circle text-success"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("nav#sidebar").addClass("active");
        $(".overview-row .trigger-click").bind("click", function () {
            triggerClick(this);
            
        });
        setTimeout(function () {
            $.each($(".overview-row"), function (i, e) {
                var parentId = $(e).data("parent-id");
                if (parentId != undefined) {
                    var levelId = $(e).data("level-id");
                    var indent = levelId.toString().split("-").length;
                    $(e).find("td:first-child").attr("style", "padding-left: " + (10 * indent) + "px;");
                }
            });
        },1000);
    });
    function triggerClick(el) {
        var $this = $(el);
        if ($this.closest("tr.overview-row").hasClass("expanded")) {
            $this.closest("tr.overview-row")
                .removeClass("expanded")
                .addClass("collapsed");
            var levelId = $this.closest("tr.overview-row").data("level-id")  + "-";
            $.each($(".overview-row[data-level-id^='"+levelId+"']"), function (i, e) {
                $(e).removeClass("expanded")
                    .addClass("collapsed")
                    .css("display", "none");
            });
            $.each($(".overview-row.collapsed"), function (i, e) {
                $(e).find("td:first-child i.fa").attr("class", "fa fa-chevron-right");
            });
        } else {
            $this.closest("tr.overview-row")
                .removeClass("collapsed")
                .addClass("expanded");

            var levelId = $this.closest("tr.overview-row").data("level-id") + "-";
            $.each($(".overview-row[data-level-id^='"+levelId+"']"), function (i, e) {
                $(e).removeClass("collapsed")
                    .addClass("expanded")
                    .css("display", "table-row");
            });

            $.each($(".overview-row.expanded"), function (i, e) {
                $(e).find("td:first-child i.fa").attr("class", "fa fa-chevron-down");
            });

        }
    }
    function expandAll() {
        var intervalCheck;
        intervalCheck = setInterval(function () {
            if ($(".overview-row.collapsed .trigger-click").length > 0) {
                $.each($(".overview-row.collapsed .trigger-click"), function (i, e) {
                    triggerClick(e);
                });
            } else {
                clearInterval(intervalCheck);
            }
        },100);        
    }
</script>