﻿@using has.iot.Models
@using has.iot.Components
@{
    ViewBag.Title = "Role Add New";
    ViewBag.Breadcrumb = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Moduls> voData = ViewData["moduls"] as List<Moduls>;
}

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }


    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<div class="body-content">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mt-2">
                                <div class="card-header">
                                    <div class="card-title mb-0">
                                        <h7 class="mb-0">Role Data</h7>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrId" class="col-sm-4 col-form-label text-right">Role ID</label>
                                <div class="col-sm-7">
                                    @(Html.Kendo().TextBox()
                                        .Name("rlId")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(false)
                                    )
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrName" class="col-sm-4 col-form-label text-right">Role Name <span style="color: red;"> *</span></label>
                                <div class="col-sm-7">
                                    @(Html.Kendo().TextBox()
                                        .Name("rlName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card mt-2" style="margin-bottom:5px;">
                                <div class="card-header">
                                    <div class="card-title mb-0">
                                        <h7 class="mb-0">Access</h7>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="table table-borderless table-responsive">
                                    <thead class="th-role text-center" style="border-bottom: 0.01px #c1bfbf solid;">
                                        <tr>
                                            <td class="text-left" style="width:250px;">Module</td>
                                            <td>Create</td>
                                            <td>Read</td>
                                            <td>Edit</td>
                                            <td>Execute</td>
                                            <td>Delete</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="checkbox" id="check_c" onclick="checkAll('c');" /></td>
                                            <td><input type="checkbox" id="check_r" onclick="checkAll('r');" /></td>
                                            <td><input type="checkbox" id="check_u" onclick="checkAll('u');" /></td>
                                            <td><input type="checkbox" id="check_e" onclick="checkAll('e');" /></td>
                                            <td><input type="checkbox" id="check_d" onclick="checkAll('d');" /></td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-role">
                                        @foreach (var item in voData)
                                        {
                                            string ftrC = "disabled"; string ftrR = "disabled"; string ftrD = "disabled"; string ftrU = "disabled"; string ftrE = "disabled";
                                            features ftr = Newtonsoft.Json.JsonConvert.DeserializeObject<features>(item.features);
                                            if (ftr.c) { ftrC = ""; }
                                            if (ftr.r) { ftrR = ""; }
                                            if (ftr.d) { ftrD = ""; }
                                            if (ftr.u) { ftrU = ""; }
                                            if (ftr.e) { ftrE = ""; }
                                            string mftr = "";
                                            if (item.child == 0) { mftr = "font-weight: bold; color: #0b7cdc;"; }
                                            if (item.type == "module" && item.child != 0) { mftr = "font-weight: bold; padding-left: 25px !important;"; item.title = "- " + item.title; }
                                            if (item.type == "feature") { mftr = "padding-left: 45px !important;"; item.title = "-> " + item.title; }
                                            <tr>
                                                <td style="@mftr">@item.title</td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_c" class="@(ftrC)c @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="c" @ftrC /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_r" class="@(ftrR)r @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="r" @ftrR /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_u" class="@(ftrU)u @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="u" @ftrU /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_e" class="@(ftrE)e @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="e" @ftrE /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_d" class="@(ftrD)d @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="d" @ftrD /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-footer">
                    <div class="card-title mb-0 text-right">
                        <button type="button" class="btn btn-primary" onclick="submit(this)">Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.replace('@Url.Action("Index","Roles")')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });

    function checkAll(id) {
        var parent = $('input:checkbox#check_'+id).prop('checked');
        $('input:checkbox.' + id).prop('checked', parent);
    }
    function submit(e) {
        var voData = {
            rlId: $("#rlId").val(),
            rlName: $("#rlName").val(),
            acsMod: getRoleAccess(),
            crtBy: '@Constant.GetUserLogin()',
            crtAt : '@Constant.GetIPAddress()'
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RolesCreate","Roles")',
            dataType: 'json',
            data: JSON.stringify(voData),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(e).attr("disabled", "disabled");
            },
            success: function (result) {
                console.log(result);
               $(e).removeAttr("disabled");
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            }
        });
    }

    function getRoleAccess() {
        var roleAccess = "";
        var lstmod = "";
        var accessMod = { modul : "", c : false, r : false,	d : false,	u : false,	e : false};
        var i = 0;
        $.each($("input:checkbox"), function(){
           if($(this).val() != "on"){
               if(lstmod != $(this).attr("mod-val")){
                    if(accessMod.modul != ""){
                        roleAccess += JSON.stringify(accessMod)+",";
                    }
                    accessMod.modul = $(this).attr("mod-val");
                    if($(this).prop('checked')){
                        accessMod[$(this).val()] = true;
                    }else{
                        accessMod[$(this).val()] = false;
                    }

               }else{
                    if(accessMod.modul == $(this).attr("mod-val")){
                        if($(this).prop('checked')){
                            accessMod[$(this).val()] = true;
                        }else{
                            accessMod[$(this).val()] = false;
                        }
                    }
               }
               lstmod = $(this).attr("mod-val");
                if(i == $("input:checkbox").length-1){
                    roleAccess += JSON.stringify(accessMod);
                }
           }
        i++;
        });
        roleAccess = "[" + roleAccess + "]";
        return roleAccess;
    }
</script>