﻿@using has.iot.Models
@using has.iot.Components
@{
    ViewBag.Title = "Role Detail";
    ViewBag.Breadcrumb = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Moduls> voData = ViewData["moduls"] as List<Moduls>;
}

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }
</style>

<div class="body-content">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mt-2">
                                <div class="card-header">
                                    <div class="card-title mb-0">
                                        <h7 class="mb-0">Role Data</h7>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrId" class="col-sm-4 col-form-label text-right">Role ID</label>
                                <div class="col-sm-7">
                                    @(Html.Kendo().TextBox()
                                        .Name("rlId")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(false)
                                    )
                                    <input type="hidden" style="display:none;" id="uptOn" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrName" class="col-sm-4 col-form-label text-right">Role Name <span style="color: red;"> *</span></label>
                                <div class="col-sm-7">
                                    @(Html.Kendo().TextBox()
                                        .Name("rlName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card mt-2" style="margin-bottom:5px;">
                                <div class="card-header">
                                    <div class="card-title mb-0">
                                        <h7 class="mb-0">Access</h7>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrap">
                                <table class="table table-borderless table-responsive">
                                    <thead class="th-role text-center" style="border-bottom: 0.01px #c1bfbf solid;">
                                        <tr>
                                            <td class="text-left" style="width:250px;">Module</td>
                                            <td>Create</td>
                                            <td>Read</td>
                                            <td>Edit</td>
                                            <td>Execute</td>
                                            <td>Delete</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="checkbox" id="check_c" onclick="checkAll('c');" /></td>
                                            <td><input type="checkbox" id="check_r" onclick="checkAll('r');" /></td>
                                            <td><input type="checkbox" id="check_u" onclick="checkAll('u');" /></td>
                                            <td><input type="checkbox" id="check_e" onclick="checkAll('e');" /></td>
                                            <td><input type="checkbox" id="check_d" onclick="checkAll('d');" /></td>
                                        </tr>
                                    </thead>
                                    <tbody class="tb-role">
                                        @foreach (var item in voData)
                                        {
                                            string ftrC = "disabled"; string ftrR = "disabled"; string ftrD = "disabled"; string ftrU = "disabled"; string ftrE = "disabled";
                                            features ftr = Newtonsoft.Json.JsonConvert.DeserializeObject<features>(item.features);
                                            if (ftr.c) { ftrC = ""; }
                                            if (ftr.r) { ftrR = ""; }
                                            if (ftr.d) { ftrD = ""; }
                                            if (ftr.u) { ftrU = ""; }
                                            if (ftr.e) { ftrE = ""; }
                                            string mftr = "";
                                            if (item.child == 0) { mftr = "font-weight: bold; color: #0b7cdc;"; }
                                            if (item.type == "module" && item.child != 0) { mftr = "font-weight: bold; padding-left: 25px !important;"; item.title = "- " + item.title; }
                                            if (item.type == "feature") { mftr = "padding-left: 45px !important;"; item.title = "-> " + item.title; }
                                            <tr>
                                                <td style="@mftr">@item.title</td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_c" class="@(ftrC)c @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="c" @ftrC /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_r" class="@(ftrR)r @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="r" @ftrR /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_u" class="@(ftrU)u @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="u" @ftrU /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_e" class="@(ftrE)e @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="e" @ftrE /></td>
                                                <td class="text-center"><input type="checkbox" id="@(item.alias)_d" class="@(ftrD)d @(item.alias)" name="@(item.alias)" mod-val="@(item.alias)" value="d" @ftrD /></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-footer">
                    <div class="card-title mb-0 text-right">
                        <button type="button" class="btn btn-primary" onclick="submit(this)">Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.replace('@Url.Action("Index","Roles")')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });

    function checkAll(id) {
        var parent = $('input:checkbox#check_'+id).prop('checked');
        $('input:checkbox.' + id).prop('checked', parent);
    }
    function submit(e) {
        var voData = {
            id: '@ViewData["id"].ToString()',
            rlId: $("#rlId").val(),
            rlName: $("#rlName").val(),
            acsMod: getRoleAccess(),
            crtBy: '@Constant.GetUserLogin()',
            crtAt: '@Constant.GetIPAddress()',
            uptOn: $("#uptOn").data("kendoDateTimePicker").value()
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RolesUpdate","Roles")',
            dataType: 'json',
            data: JSON.stringify(voData),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(e).attr("disabled", "disabled");
            },
            success: function (result) {
               $(e).removeAttr("disabled");
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            }
        });
    }

    function loadData() {
        var voData = {
            id: '@ViewData["id"].ToString()',
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Action("RolesReadDetail","Roles")',
            dataType: 'json',
            data: voData,
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.rlId === "R001") {
                    $("#rlId").val(result.rlId);
                    $("#rlName").val(result.rlName);
                    var modAccess = JSON.parse(result.acsMod);
                    for (i = 0; i < modAccess.length; i++) {
                        $('input:checkbox#' + modAccess[i].modul + '_c').prop('checked', modAccess[i].c);
                        $('input:checkbox#' + modAccess[i].modul + '_r').prop('checked', modAccess[i].r);
                        $('input:checkbox#' + modAccess[i].modul + '_u').prop('checked', modAccess[i].u);
                        $('input:checkbox#' + modAccess[i].modul + '_d').prop('checked', modAccess[i].d);
                        $('input:checkbox#' + modAccess[i].modul + '_e').prop('checked', modAccess[i].e);

                        $('input:checkbox').attr('disabled', true);
                        $("#save-btn").remove();
                    }
                } else {
                    $("#rlId").val(result.rlId);
                    $("#rlName").val(result.rlName);
                    var modAccess = JSON.parse(result.acsMod);
                    for (i = 0; i < modAccess.length; i++) {
                        $('input:checkbox#' + modAccess[i].modul + '_c').prop('checked', modAccess[i].c);
                        $('input:checkbox#' + modAccess[i].modul + '_r').prop('checked', modAccess[i].r);
                        $('input:checkbox#' + modAccess[i].modul + '_u').prop('checked', modAccess[i].u);
                        $('input:checkbox#' + modAccess[i].modul + '_d').prop('checked', modAccess[i].d);
                        $('input:checkbox#' + modAccess[i].modul + '_e').prop('checked', modAccess[i].e);
                    }
                }
                var upTs = formatDate(result.uptOn);
                if (upTs.split(" ")[0] == "01/01/1") {
                    upTs = "01/01/0001 00:00:00";
                }
                $("#uptOn").kendoDateTimePicker({
                    format: "dd/MM/yyyy HH:mm:ss",
                    value: upTs,
                    dateInput: false
                });
                $("#uptOn").data("kendoDateTimePicker").value(upTs);
            }
        });
    }

    function formatDate(poDate) {
        var voD = ""
        if (poDate != null) {
            var startD = poDate.replace("/Date(", "");
            startD = startD.replace(")/", "");
            var date = new Date(parseInt(startD));

            var hours = date.getHours();
            // Minutes part from the timestamp
            var minutes = "0" + date.getMinutes();
            // Seconds part from the timestamp
            var seconds = "0" + date.getSeconds();

           voD = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
            voD = voD+ ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        }
        return voD;
    }

    function getRoleAccess() {
        var roleAccess = "";
        var lstmod = "";
        var accessMod = { modul : "", c : false, r : false,	d : false,	u : false,	e : false};
        var i = 0;
        $.each($("input:checkbox"), function(){
           if($(this).val() != "on"){
               if(lstmod != $(this).attr("mod-val")){
                    if(accessMod.modul != ""){
                        roleAccess += JSON.stringify(accessMod)+",";
                    }
                    accessMod.modul = $(this).attr("mod-val");
                    if($(this).prop('checked')){
                        accessMod[$(this).val()] = true;
                    }else{
                        accessMod[$(this).val()] = false;
                    }

               }else{
                    if(accessMod.modul == $(this).attr("mod-val")){
                        if($(this).prop('checked')){
                            accessMod[$(this).val()] = true;
                        }else{
                            accessMod[$(this).val()] = false;
                        }
                    }
               }
               lstmod = $(this).attr("mod-val");
                if(i == $("input:checkbox").length-1){
                    roleAccess += JSON.stringify(accessMod);
                }
           }
        i++;
        });
        roleAccess = "[" + roleAccess + "]";
        return roleAccess;
    }

</script>