﻿@using has.iot.Models;
@using has.iot.Components;
@{
    ViewBag.Title = "Role";
    ViewBag.TitleBar = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "Roles");
}
@{
    ViewBag.Title = "User Roles";
    ViewBag.TitleBar = "User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <div class="row">
        @(Html.Kendo().Grid<has.iot.Models.RoleGrid>()
        .Name("grid")
        .ToolBar(tools =>
        {
            if (acs.c)
            {
                tools.Custom().Name("Add New").Text("Add New").IconClass("k-icon k-i-plus").Action("Add", "Roles");
            }
        })
        .Columns(columns =>
        {
        if (acs.u && acs.d)
        {
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-detail' href='" + Url.Action("Detail", "Roles", new { id = "#=id#" }) + "'><span class='k-icon k-i-edit'></span></a> " + " <a class='k-button k-detail' style='#= (rlId == 'R001') ? 'display:none;' : '' #' onclick='removeUser(\"#=id#\", \"#=uptOn#\");'><span class='k-icon k-i-trash'></span></a>").Width(100); ;
        }else if (!acs.u && acs.d)
        {
            columns.Template(@<text></text>).ClientTemplate(" <a class='k-button k-detail' style='#= (rlId == 'R001') ? 'display:none;' : '' #' onclick='removeUser(\"#=id#\",\"#=uptOn#\");'><span class='k-icon k-i-trash'></span></a>").Width(100);
        } else if (acs.u && !acs.d)
        {
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-detail' href='" + Url.Action("Detail", "Roles", new { id = "#=id#" }) + "'><span class='k-icon k-i-edit'></span></a> ").Width(100); ;
            }
            columns.Bound(c => c.rlId).Title("Role ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
            columns.Bound(c => c.rlName).Title("Role Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
        })
        .DataSource(ds => ds

            .Ajax()
            .Model(m =>
            {
                m.Id(r => r.id);
            })
            .PageSize(10)
            .Read(r => r.Action("Read", "Roles"))
            )
        .Selectable()
        .Filterable(a => a.Mode(GridFilterMode.Row))
        .HtmlAttributes(new { style = "height:550px;" })
        .Pageable(p => p.Refresh(true))
        .Reorderable(r => r.Columns(true))
        .Resizable(r => r.Columns(true))
        .Sortable()
        .Scrollable()
)
    </div>
</div>

<script type="text/javascript">
    function removeUser(id,uptOn) {
        alertConfirmation("Delete role ?", "Yes", "fa fa-question-circle", "deleteUser("+id+",'"+uptOn+"');", "alertConfirmClose();");
    }

    function deleteUser(id,uptOn) {
        var voData = {
                id: id,
                crtBy: '@Constant.GetUserLogin()',
                crtAt : '@Constant.GetIPAddress()',
                uptOn: uptOn
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RolesDelete","Roles")',
                dataType: 'json',
                data: JSON.stringify(voData),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                },
                success: function (result) {
                    if (result.errorcode == 0) {
                        alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                    } else {
                        alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                    }
                }
            });
    }

    function grid_onDataBound(e) {
        var voGrid = $('#grid').data('kendoGrid');
        var voGridData = voGrid.dataSource.view();
        var vvID;
        var voRow;
    }
    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
</script>

