﻿@using has.iot.Models;
@{
    ViewBag.Title = "Location";
    ViewBag.TitleBar = "Location";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "Location");
}

@{

    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().Grid<SmartWatchGatewayModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                {
                    if (acs.e && acs.u)
                    {

                        c.Edit().Text(" ");
                    }
                    if (acs.e && acs.d)
                    {
                        c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                    }
                }).Width(100);

                columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MM-yyyy hh:mm:ss}").Filterable(f => f.Enabled(false)).Width(90);
                columns.Bound(c => c.gatewayID).Title("Gateway ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.gatewayName).Title("Gateway Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.ipAddress).Title("IP Address").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.location).Title("Location").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.status).Title("Status").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("equals").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m => m.Id(r => r.gatewayID))
                .PageSize(30)
                .Create(c => c.Action("Create", "Location"))
                .Read(r => r.Action("Read", "Location"))
                .Update(r => r.Action("Update", "Location"))
                .Destroy(r => r.Action("Destroy", "Location"))
            )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Events(e => e.Edit("grid_onEdit"))
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(c =>
            {
                if (acs.e && acs.c)
                {
                    c.Create().Text("Add New");
                }
            })
            )
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var ws = "";
            $(function () {
                // Start the connection.
            });

            function grid_onRequestEnd(e) {
                if (e.type == "create" || e.type == "update" || e.type == "destroy") {
                    if (!e.response.Errors) {
                        e.sender.read();
                    }
                }
            }
            //--------------------------------------------------
            function grid_onEdit(e) {
                //var vWindow = this.editable.element.data("kendoWindow");
                //vWindow.wrapper.css({ width: 500 });

                if (e.model.isNew() == true) {
                    e.container.kendoWindow("title", "Add New");
                    $("#personID_title").attr("style", "display:none");
                    $("#personID_column").attr("style", "display:none");
                }
                else {
                    $("#gatewayID").attr("readonly", true);
                }
            }

            function grid_onError(e) {
                if (e.errors) {
                    var vMessage = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                vMessage += this + "\n";
                            });
                        }
                    });

                    vWindowModal.title("Message");
                    vWindowModal.content(vMessage);
                    vWindowModal.center().open();

                    var vGrid = $("#grid").data("kendoGrid");
                    vGrid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }
            }

            function gridrow_onDelete(e) {
                e.preventDefault();
                var vGrid = this;
                var vRow = $(e.currentTarget).closest("tr");
                var vData = vGrid.dataItem(vRow);
                vData.gatewayID = vData.gatewayID;

                vWindowModal.title("Delete Confirmation?");
                vWindowModal.content(vTemplateDelete(vData));
                vWindowModal.center().open();

                $("#buttonDeleteYes").click(function () {
                    vGrid.removeRow(vRow);
                    vWindowModal.close();
                });

                $("#buttonDeleteNo").click(function () {
                    vWindowModal.close();
                });
            }
        </script>
        <script type="text/x-kendo-template" id="templateDelete">
            <div class="k-edit-form-container">
                <div class="nameEditor">
                    <div class="k-edit-label">Gateway ID:</div>
                    <div class="k-edit-field"><input class="k-textbox" id="gatewayID" name="gatewayID" value="#=gatewayID#" readonly="readonly"> </div>
                </div>
                <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
            </div>
        </script>

    }
}