﻿@using System.Web.Configuration;
@using has.iot.Models;
@{
    ViewBag.Title = "Realtime Dashboard";
    ViewBag.TitleBar = "Realtime Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string signalr_url = WebConfigurationManager.AppSettings["hub_url"].ToString();

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "RealtimeDashboard");
}

<style>
    /* Grid header */
    #grid .k-grouping-header, #grid .k-grid-header {
        background: transparent;
    }

    /* Grid content */
    #grid.k-grid, #grid.k-grid div.k-grid-content {
        background: transparent;
    }

        #grid.k-grid tr.k-alt {
            background: transparent;
        }

    /* Grid footer */
    #grid .k-pager-wrap, #grid .k-pager-wrap .k-pager-numbers, #grid .k-pager-wrap .k-dropdown-wrap {
        background: transparent;
        visibility: hidden;
    }

    .alert {
        background: var(--unnamed-color-2b609d) 0% 0% no-repeat padding-box;
        background: #2B609D 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000000D;
        border: 1px solid #70707033;
        border-radius: 3px;
        opacity: 1;
    }

    .alertwhite {
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000000D;
        border: 1px solid #70707033;
        border-radius: 3px;
        opacity: 1;
    }
</style>

<style>
    div.k-grid-header thead th.k-header {
        height: 20px;
    }

    .k-grid td {
        padding: 1em 1em
    }
</style>
@{
    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="row">
                <!-- Button Drop Down -->
                <div class="col-md-12">
                    <div class="row">
                        <p style="margin-top: -10px; font-weight: bold; margin-left: 5px;">Alerts Summary</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_HR">0</h5>
                                <p style="font-size:7pt;">Number of Heart Rate Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_Temperature">0</h5>
                                <p style="font-size:7pt;">Number of Temperature Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_Battery">0</h5>
                                <p style="font-size:7pt;">Number of Battery Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_Geofencing">0</h5>
                                <p style="font-size:7pt;">Number of Geofencing Alerts</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_Tampered">0</h5>
                                <p style="font-size:7pt;">Number of Tampered Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_SOS">0</h5>
                                <p style="font-size:7pt;">Number of SOS Alerts</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_FallDown">0</h5>
                                <p style="font-size:7pt;">Number of Fall Down Alert</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="alert alertwhite col-md-12">
                                <br />
                                <h5 style="font-weight: bold;" id="total_BloodPressure">0</h5>
                                <p style="font-size:7pt;">Number of Blood Pressure Alert</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-top: 10px; font-weight: bold; margin-left: 5px;">Alerts Details</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background:#ffffff;">
                <div class="col-md-12">
                    <div style=" padding:20px;">
                        @(Html.Kendo().Grid<has.iot.Models.EventsLogMonitoring>()
                    .Name("grid").TableHtmlAttributes(new { style = "font-size:8pt;" })
                    //.Groupable()
                    .Columns(columns =>
                    {
                    columns.Template(@<text></text>).ClientTemplate("<a style=\"color: blue\" href='" + Url.Action("Detail", "ProfileMaster", new { id = "#=stationNo#" }) + "'>#=stationNo#</a>").Title("Station No").HtmlAttributes(new { @class = "data-btn" }).Width(30);
                        columns.Bound(c => c.HR).ClientTemplate("#if (HR != 1) {#<span style='color:red;font-weight:bold;'>#=HR#</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Heart Rate").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Geofencing).ClientTemplate("#if (Geofencing == \"Yes\") {#<span style='color:red;font-weight:bold;'>Yes</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Geofencing").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Temp).ClientTemplate("#if (Temp != 1) {#<span style='color:red;font-weight:bold;'>#=Temp#</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Temperature").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Tampered).ClientTemplate("#if (Tampered == \"Yes\") {#<span style='color:red;font-weight:bold;'>Yes</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Tampered").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Battery).ClientTemplate("#if (Battery != 1) {#<span style='color:red;font-weight:bold;'>#=Battery#</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Battery").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.SOS).Title("SOS").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.FallDown).ClientTemplate("#if (FallDown == \"Yes\") {#<span style='color:red;font-weight:bold;'>Yes</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Fall Down").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Blood).ClientTemplate("#if (Blood != \"1\") {#<span style='color:red;font-weight:bold;'>#=Blood#</span>#} else{#<span style=''></span>#}#").Filterable(false).Title("Blood Pressure").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align:center" }).Width(30);
                        columns.Bound(c => c.Location).Title("Location").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(30);
                    })
                    .DataSource(ds => ds

                    .Ajax()
                    .Model(m =>
                    {
                        m.Id(r => r._id);
                        m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                    })
                    .PageSize(100)
                    .Read(r => r.Action("Read", "RealtimeDashboard"))
                    )
                    .Excel(excel => excel
                    .AllPages(true)
                    .Filterable(true)
                    )
                    .Selectable()
                    .Pageable(p => p.Refresh(true))
                    .Reorderable(r => r.Columns(true))
                    .Resizable(r => r.Columns(true))
                    .Sortable()
                    .Scrollable()
                    )
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function () {
                $("#Default").kendoNumericTextBox();
                $("#PresentValue").kendoNumericTextBox();
                $("#tempSetpoint").kendoNumericTextBox({
                    decimals: 1
                });

                $("#FilterAcknowledge").kendoComboBox({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        { text: "Yes", value: "Yes" },
                        { text: "No", value: "No" },
                    ],
                    filter: "contains",
                    suggest: true,
                    index: 3,
                    change: function (e) {
                        var value = this.value();
                        filterGrid(value);
                    }
                });

                setTimeout(setInterval(gridRefresh, 5000), 5000);
                

            });

            var ws = "";
            $(function () {
                // Start the connection.
            });


            function grid_onError(e) {
                if (e.errors) {
                    var vMessage = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                vMessage += this + "\n";
                            });
                        }
                    });

                    vWindowModal.title("Error");
                    vWindowModal.content(vMessage);
                    vWindowModal.center().open();

                    var vGrid = $("#grid").data("kendoGrid");
                    vGrid.one("dataBinding", function (e) {
                        e.preventDefault();
                    });
                }
            }


            function gridRefresh() {
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            }
        </script>


        <script>
		var signalR_Datas = "";
        $(function () {
            $.connection.hub.url = '@signalr_url';
            signalR_Datas = $.connection.apphub;
            signalR_Datas.client.AlertDashboard = function (topic, Type, Datas) {
                let res = JSON.parse(Datas);
                $("#total_HR").html(res.total_heartrate);
                $("#total_Temperature").html(res.total_temperature);
                $("#total_Tampered").html(res.total_tampered);
                $("#total_Geofencing").html(res.total_geofencing);
                $("#total_Battery").html(res.total_battery);
                $("#total_FallDown").html(res.total_fall_down);
                $("#total_BloodPressure").html(res.total_blood_pressure);

            };
            //Connect();
            $.connection.hub.start().done(function () {

            });
        });
        </script>

    }
}