﻿@model has.iot.Models.WearableTagModel

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Wearable Tags :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.tagID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Active Status :
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownList()
          .Name("active")
          .BindTo(new List<string>() {
              "yes",
              "no"
          })
         .HtmlAttributes(new { style = "width: 100%" })
        )
        </div>
        @*<div class="k-edit-label" id="personID_title">
            Station No :
        </div>
        <div class="k-edit-field" id="personID_column">
            @Html.Kendo().TextBoxFor(m => m.stationNo).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" })
        </div>*@
        @*<div class="k-edit-label" id="personID_title">
            Person ID :
        </div>
        <div class="k-edit-field" id="personID_column">
            @Html.Kendo().TextBoxFor(m => m.personID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" })
        </div>*@
    </div>
</div>