﻿@model has.iot.Models.RemarkModel

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Remarks :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Remarks).HtmlAttributes(new { style = "width: 100%;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Status :
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownList()
          .Name("status")
          .BindTo(new List<string>() {
              "Active",
              "Not Active"
          })
         .HtmlAttributes(new { style = "width: 100%" })
        )
        </div>
    </div>
</div> 