﻿@using has.iot.Models;
@{
    ViewBag.Title = "Events Log";
    ViewBag.TitleBar = "Events Log";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "EventsLogMonitoring");
}
<style>
    .armchair {
        overflow: auto;
        height: calc(100% - 70px);
        padding: 5px
    }

    .window-footer {
        position: absolute;
        bottom: 0;
        display: block;
        width: 95%;
        padding: 9px 0 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
</style>
@{

    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="row">
                <!-- Button Drop Down -->
                <div class="form-group form-inline" style=" margin-left: 0px;">
                    <label class="col-md-5 control-label" for="buttondropdown" style="font-weight:bold;color:#464A53;">Acknowledge</label>
                    <div class="col-md-6 form-inline">
                        <input id="FilterAcknowledge" placeholder="Select" class="myInput" />
                    </div>
                </div>
                @{
                    if (acs.e && acs.d)
                    {
                        <div class="form-group form-inline" style=" margin-left: 0px;">
                            <button class="btn btn-danger" onclick="ClearData()">Clear</button>
                        </div>
                    }
                }
                @(Html.Kendo().Grid<has.iot.Models.EventsLogMonitoringView>()
                .Name("grid")
                //.Groupable()
                .Columns(columns =>
                {
                columns.Bound(c => c.RecordTimestamp).Title("Timestamp").Format("{0:dd/MM/yyyy hh:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(80);
                columns.Bound(c => c.EventType).Title("Event Type").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(80);
                columns.Template(@<text></text>).ClientTemplate("<a style=\"color: blue\" href='" + Url.Action("Detail", "ProfileMaster", new { id = "#=stationNo#" }) + "'>#=stationNo#</a>").Title("Station No").HtmlAttributes(new { @class = "data-btn" }).Width(80);
                    columns.Bound(c => c.TagID).Title("Tag ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(50);
                    columns.Bound(c => c.Location).Title("Location").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(60);
                    columns.Bound(c => c.Temp).Title("Temp").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(55);
                    columns.Bound(c => c.HR).Title("HR").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(55);
                    columns.Bound(c => c.Tampered).Title("Tampered").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(70);
                    columns.Bound(c => c.Blood).Title("BP").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(55);
                    columns.Bound(c => c.FallDown).Title("Fall Down").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(70);
                    columns.Bound(c => c.Battery).Title("Battery").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(55);

                    if (acs.e && acs.u)
                    {
                        columns.Bound(c => c.Acknowledge).ClientTemplate("#if (Acknowledge == 'No') {#<button type='submit' class='btn btn-primary btn-sm'  onclick=UpdateAck('#=dataID#') style='width:70px;'>Acknowledge</button>#} else{##:Acknowledge##}#").Filterable(false).Title("Acknowledge").Width(100);
                    }
                    else
                    {
                        columns.Bound(c => c.Acknowledge).Title("Acknowledge").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    }

                    columns.Bound(c => c.ActionRemarks).Title("Action Remarks").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.Status).ClientTemplate("#if (Status == 'Pending') {#<span style='color:red;font-weight:bold;'>#=Status#</span>#} else{#<span style='color:green;'>#=Status#</span>#}#").Filterable(false).Title("Status").Width(100);
                })
                .DataSource(ds => ds

                .Ajax()
                .Read(read => read.Action("Excel_Export_Read", "Grid"))
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m =>
                {
                    m.Id(r => r._id);
                    m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                })
                .PageSize(30)
                .Create(c => c.Action("Create", "EventsLogMonitoring"))
                .Read(r => r.Action("Read", "EventsLogMonitoring"))
                .Update(r => r.Action("Update", "EventsLogMonitoring"))
                .Destroy(r => r.Action("Destroy", "EventsLogMonitoring"))
                )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
                )
            </div>
        </div>
        <div id="myModal">
            <div class="armchair">
                <div class="row" style="margin: 5px !important;">
                    <div class="col-md-12" style="padding: 0px !important;">
                        <div class="k-edit-label">
                            Remarks :
                        </div>
                        <div class="k-edit-field">
                            <input id="IDEvent" style="display:none">
                            <se id="Remarks" class="myInput">
                        </div>
                        <div class="k-edit-label">
                            Details :
                        </div>
                        <div class="k-edit-field">
                            <textarea id="RemarksDesc" style="width: 260px; height: 108px;" placeholder="Description" class="form-control input-md"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="window-footer">
                <button type="button" class="k-button" onclick="closeRemarks()">Close</button>
                <button type="button" class="k-primary k-button" onclick="saveRemarks()">Save changes</button>
            </div>
        </div>
        <script type="text/javascript">

    $(document).ready(function () {

        var grid = $("#grid").data("kendoGrid");

        $("#Default").kendoNumericTextBox();
        $("#PresentValue").kendoNumericTextBox();
        $("#tempSetpoint").kendoNumericTextBox({
            decimals: 1
        });


        setInterval(function () {
            $('#grid').data('kendoGrid').dataSource.read();
            $('#grid').data('kendoGrid').refresh();
        }, 2000);

        $("#FilterAcknowledge").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Yes", value: "Yes" },
                { text: "No", value: "No" },
            ],
            filter: "contains",
            suggest: true,
            index: 3,
            change: function (e) {
                var value = this.value();
                filterGrid(value);
            }
        });

        $("#FilterAcknowledge").data("kendoComboBox").select(1);
        filterGrid("No");

        $("#myModal").kendoWindow({
            modal: true, visible: false,
            width: 500,
            title: "Responsive dialog",
            actions: [
                "Close"
            ],
            height: 280
        });
    });

    function filterGrid(e) {
        var grid = $('#grid').data('kendoGrid');
        var field = 'Acknowledge';
        var operator = 'eq';
        //var value = e.sender.value();
        var value = e;
        if (value == "All" || value == "") {
            grid.dataSource.filter({});
        }
        else {
            grid.dataSource.filter({
                field: field,
                operator: operator,
                value: value
            });
        }
    }

    var ws= "";
    $(function () {
    // Start the connection.
    });

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });
        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {
            //$("#DeviceID").attr("readonly", true);
            $(".k-button.k-button-icontext.k-grid-cancel").attr("style", "");
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }


    function myalert(content) {
        $("<div></div>").kendoAlert({
            title: "Information",
            content: content
        }).data("kendoAlert").open();
        $("#grid").data("kendoGrid").dataSource.read();
    }

    // filter grid
    function filterGrid(e) {
        var grid = $('#grid').data('kendoGrid');
        var field = 'Acknowledge';
        var operator = 'eq';
        //var value = e.sender.value();
        var value = e;
        if (value == "") {
            grid.dataSource.filter({});
        }
        else {
            grid.dataSource.filter({
                field: field,
                operator: operator,
                value: value
            });
        }
    }

    function UpdateAck(vData) {
        $("#Remarks").kendoComboBox({
            clearButton: false
        });
        $("#Remarks").data("kendoComboBox").value("");
        var comboData = "";
        comboData = new kendo.data.DataSource({
            transport: {
                read: {
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("getRemarks", "Remark")',
                }
            }
        });

        $("#Remarks").kendoComboBox({
            dataTextField: "Remarks",
            dataValueField: "Remarks",
            dataSource: comboData,
            placeholder: "Select"
        });

        $("#IDEvent").val(vData);

        var dialog = $("#myModal").data("kendoWindow");
        dialog.title("Confirm Acknowledge");
        dialog.center().open();
    }
    function myprompt(content, defaultValue) {
        return $("<div></div>").kendoPrompt({
            title: "Confirm Acknowledge",
            value: defaultValue,
            content: content,
            width: 250
        }).data("kendoPrompt").open().result;
        $("#grid").data("kendoGrid").dataSource.read();
    }

    function closeRemarks() {
        $("#myModal").data("kendoWindow").close();
    }

    function saveRemarks() {
        var remarks = $("#Remarks").val();
        var remarksDesc = $("#RemarksDesc").val();
        var id = $("#IDEvent").val();
        var allRemarks = "";

        if (remarksDesc == "") {
            allRemarks = remarks;
        } else {
            allRemarks = remarks + ", " + remarksDesc;
        }

        var voData = {
            id: id,
            remarks: allRemarks,
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateAcknowledge", "EventsLogMonitoring")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.errorcode == 0) {
                    $("#myModal").data("kendoWindow").close();
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
        </script>
        <script>
            setTimeout(function wait() {
                $("#grid").data("kendoGrid").dataSource.read();
            }, 5000);
        </script>

    }
}

@{
    if (acs.e && acs.d)
    {
    <script type="text/javascript">
        function ClearData() {
            alertConfirmation("Delete Event ?", "Yes", "fa fa-question-circle", "removeEvent();", "alertConfirmClose();");

        }
        function removeEvent() {
            var voData = "";
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("clearDataEvent", "EventsLogMonitoring")',
                    data: JSON.stringify(voData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        if (result.errorcode == 0) {
                            alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                        } else {
                            alertConfirm(result.message, "Close", "fa fa-check-circle", "alertConfirmClose();");
                        }
                    },
                    error: function (xmlhttprequest, textstatus, message) {

                    }
                });
            }
    </script>

    }
}