﻿@model has.iot.Models.HumanConfiguration
@using has.iot.Models;
@{
    has.iot.Models.HumanConfiguration data = ViewData["Configuration"] as has.iot.Models.HumanConfiguration;

    ViewBag.Title = "Configuration Settings";
    ViewBag.TitleBar = "Configuration Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "HumanConfiguration");
}
<style>
    .form-group .control-label {
        text-align: left;
    }
    .text-label{
        margin-top:10px;
    }
</style>
@{

    if (acs.e && acs.r)
    {
        <div class="col-md-12">
            <br>
            <h2 style="margin-left:3%;font-weight: bold;">Alert Parameters</h2>
        </div>
        <div class="col-md-12">
            <div class="body-content col-md-7" style="margin-top:-2%">
                <div class="card card-form">
                    <div class="card-header">
                        <h5 class="card-title"><b>Heart Rate</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedHR" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedHR")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedHR == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%", title = "Select Y/N" })
                        )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="whenBelowHR" class="text-label col-md-3">When below (bpm) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("whenBelowHR")
.Format("#")
.Value(data.whenBelowHR)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="whenAboveHR" class="text-label col-md-3">When above (bpm) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("whenAboveHR")
.Format("#")
.Value(data.whenAboveHR)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="conPeriodHR" class="text-label col-md-3">Continuous period (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("conPeriodHR")
.Format("#")
.Value(data.conPeriodHR)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="resetAlertHR" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("resetAlertHR")
.Format("#")
.Value(data.resetAlertHR)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-content col-md-7" style="margin-top:-4%">
                <div class="card card-form">
                    <div class="card-header">
                        <h5 class="card-title"><b>Temperature</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedTM" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedTM")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedTM == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="whenBelowTM" class="text-label col-md-3">When below (degree) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox<decimal>()
.Name("whenBelowTM")
.Value(data.whenBelowTM)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="whenAboveTM" class="text-label col-md-3">When above (degree) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox<decimal>()
.Name("whenAboveTM")
.Value(data.whenAboveTM)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="conPeriodTM" class="text-label col-md-3">Continuous period (second) :</label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("conPeriodTM")
.Format("#")
.Value(data.conPeriodTM)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="resetAlertTM" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("resetAlertTM")
.Format("#")
.Value(data.resetAlertTM)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-content col-md-7" style="margin-top:-4%">
                <div class="card card-form">
                    <div class="card-header">
                        <div class="form-row">
                            <h5 class="card-title col-md-5"><b>SOS Button</b></h5>
                            &nbsp;
                            &nbsp;
                            <h5 class="card-title"><b>Tamper</b></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedSOS" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedSOS")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedSOS == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="activatedTEM" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedTEM")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedTEM == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="resetAlertSOS" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("resetAlertSOS")
.Format("#")
.Value(data.resetAlertSOS)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="resetAlertTEM" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("resetAlertTEM")
.Format("#")
.Value(data.resetAlertTEM)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-content col-md-7" style="margin-top:-4%">
                <div class="card card-form">
                    <div class="card-header">
                        <div class="form-row">
                            <h5 class="card-title col-md-5"><b>Battery</b></h5>
                            &nbsp;
                            &nbsp;
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedBattery" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
                                    .Name("activatedBattery")
                                    .BindTo(new List<string>() {
                                      "Yes",
                                      "No"
                                    }).Value(data.activatedBattery == "Y" ? "Yes" : "No")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            &nbsp;
                            &nbsp;
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="whenBelowBattery" class="text-label col-md-3">When Below (percentage) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("whenBelowBattery")
                                    .Format("#")
                                    .Value(data.whenBelowBattery)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            &nbsp;
                            &nbsp;
                        </div>

                        <br />
                        <div class="form-row">
                            <label for="conPeriodBattery" class="text-label col-md-3">Continuous period (second) :</label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("conPeriodBattery")
                                    .Format("#")
                                    .Value(data.conPeriodBattery)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="resetAlertBattery" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("resetAlertBattery")
                                    .Format("#")
                                    .Value(data.resetAlertBattery)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-content col-md-7" style="margin-top:-4%">
                <div class="card card-form">
                    <div class="card-header">
                        <div class="form-row">
                            <h5 class="card-title col-md-5"><b>Fall Down</b></h5>
                            &nbsp;
                            &nbsp;
                            <h5 class="card-title"><b>Geofencing</b></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedFallDown" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedFallDown")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedFallDown == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="activatedGeofencing" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
.Name("activatedGeofencing")
.BindTo(new List<string>() {
                              "Yes",
                              "No"
                          }).Value(data.activatedGeofencing == "Y" ? "Yes" : "No")
.HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="conPeriodFallDown" class="text-label col-md-3">Continuous period (second) :</label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("conPeriodFallDown")
.Format("#")
.Value(data.conPeriodFallDown)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="conPeriodGeofencing" class="text-label col-md-3">Continuous period (second) :</label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
.Name("conPeriodGeofencing")
.Format("#")
.Value(data.conPeriodGeofencing)
.HtmlAttributes(new { style = "width: 100%" })
                      )
                            </div>
                        </div>

                        <br />
                        <div class="form-row">
                            <label for="resetAlertFallDown" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("resetAlertFallDown")
                                    .Format("#")
                                    .Value(data.resetAlertFallDown)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            &nbsp;
                            &nbsp;
                            <label for="resetAlertGeofencing" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("resetAlertGeofencing")
                                    .Format("#")
                                    .Value(data.resetAlertGeofencing)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-content col-md-7" style="margin-top:-4%">
                <div class="card card-form">
                    <div class="card-header">
                        <h5 class="card-title"><b>Blood Pressure</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <label for="activatedBP" class="text-label col-md-3">Activated : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().DropDownList()
                                    .Name("activatedBP")
                                    .BindTo(new List<string>() {
                                                                  "Yes",
                                                                  "No"
                                                              }).Value(data.activatedBP == "Y" ? "Yes" : "No")
                                    .HtmlAttributes(new { style = "width: 100%" })
                        )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="whenAboveBP" class="text-label col-md-3">When above (bp) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("whenAboveBP")
                                    .Format("#")
                                    .Value(data.whenAboveBP)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            <label for="whenAboveBP2" class="text-label"> / </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("whenAboveBP2")
                                    .Format("#")
                                    .Value(data.whenAboveBP2)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="whenBelowBP" class="text-label col-md-3">When below (bp) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("whenBelowBP")
                                    .Format("#")
                                    .Value(data.whenBelowBP)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                            <label for="whenBelowBP2" class="text-label"> / </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("whenBelowBP2")
                                    .Format("#")
                                    .Value(data.whenBelowBP2)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="conPeriodBP" class="text-label col-md-3">Continuous period (second) :</label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("conPeriodBP")
                                    .Format("#")
                                    .Value(data.conPeriodBP)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <label for="resetAlertBP" class="text-label col-md-3">Reset alert after (second) : </label>
                            <div class="col-md-2">
                                @(Html.Kendo().NumericTextBox()
                                    .Name("resetAlertBP")
                                    .Format("#")
                                    .Value(data.resetAlertBP)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{ 
                if (acs.e && acs.u)
                {
            <div class="body-content col-md-7" style="margin-top: -4%">
                <button type="submit" style="float: right;margin-left:10px" id="UpdateAll" class="btn btn-primary">Save</button>
                <button type="submit" style="float: right;" id="cancel" class="btn btn-default">Cancel</button>
                &nbsp;
                &nbsp;
            </div>
                    }
                }
        </div>
    }
    if (acs.e && acs.u)
    {
        <script type="text/javascript">
            $("#UpdateAll").click(function () {
                var data = {
                    activatedHR: $("#activatedHR").val(),
                    whenBelowHR: $("#whenBelowHR").val(),
                    whenAboveHR: $("#whenAboveHR").val(),
                    conPeriodHR: $("#conPeriodHR").val(),
                    resetAlertHR: $("#resetAlertHR").val(),
                    activatedTM: $("#activatedTM").val(),
                    whenBelowTM: $("#whenBelowTM").val(),
                    whenAboveTM: $("#whenAboveTM").val(),
                    conPeriodTM: $("#conPeriodTM").val(),
                    resetAlertTM: $("#resetAlertTM").val(),
                    activatedSOS: $("#activatedSOS").val(),
                    resetAlertSOS: $("#resetAlertSOS").val(),
                    activatedTEM: $("#activatedTEM").val(),
                    resetAlertTEM: $("#resetAlertTEM").val(),
                    activatedBattery: $("#activatedBattery").val(),
                    whenBelowBattery: $("#whenBelowBattery").val(),
                    conPeriodBattery: $("#conPeriodBattery").val(),
                    resetAlertBattery: $("#resetAlertBattery").val(),
                    activatedGeofencing: $("#activatedGeofencing").val(),
                    resetAlertGeofencing: $("#resetAlertGeofencing").val(),
                    conPeriodGeofencing: $("#conPeriodGeofencing").val(),
                    activatedFallDown: $("#activatedFallDown").val(),
                    conPeriodFallDown: $("#conPeriodFallDown").val(),
                    resetAlertFallDown: $("#resetAlertFallDown").val(),
                    activatedBP: $("#activatedBP").val(),
                    whenBelowBP: $("#whenBelowBP").val(),
                    whenAboveBP: $("#whenAboveBP").val(),
                    whenBelowBP2: $("#whenBelowBP2").val(),
                    whenAboveBP2: $("#whenAboveBP2").val(),
                    conPeriodBP: $("#conPeriodBP").val(),
                    resetAlertBP: $("#resetAlertBP").val(),

                }
                var url = '@Url.Action("Update", "HumanConfiguration")';
                $.ajax({
                    url: url,
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jQuery.parseJSON(jqXHR.errorThrown));
                    },
                    async: true,
                    processData: false
                });
            });
        </script>
    }
}