﻿@using System.Web.Configuration;
@{ 

    string signalr_url = WebConfigurationManager.AppSettings["hub_url"].ToString();
    string URIsegment = (Request.Url.Segments.Length > 2) ? Request.Url.Segments[Request.Url.Segments.Length - 1].Replace("/", "") : "RealtimeDashboard"; }
@{
    if (Request.Url.Segments.Length > 3)
    {
        URIsegment = Request.Url.Segments[Request.Url.Segments.Length - 2].Replace("/", "");
    }
    else
    if (Request.Url.Segments.Length > 4)
    {
        URIsegment = Request.Url.Segments[Request.Url.Segments.Length - 3].Replace("/", "");
    }
}


<nav id="sidebar">
    <div class="sidebar-header">
        <img class="logo" style="width:40px;" src="@Url.Content("~/Content/img/logo-1.png")" />
        <strong><i class="fas"><img style="width:35px;" src="@Url.Content("~/Content/img/logo-1.png")" /></i></strong>
    </div>
    <ul class="list-unstyled components">
        @{
            foreach (var Parent in (dynamic)ViewData["nav"])
            {
                string icon = (Parent.alias.ToLower() == URIsegment.ToLower()) ? Parent.icon.Replace("icon", "active") : Parent.icon;
                string ClassActive = (Parent.alias.ToLower() == URIsegment.ToLower()) ? "active" : "";
                string voUrl = (Parent.controller == "" && Parent.alias.ToLower() != "Dashboard") ? "javascript:void(0);" : Url.Action(Parent.function, Parent.controller);

                    <li class="@ClassActive">
                        <a href="@voUrl">
                            @{
                                if (icon == "fas fa-exclamation-triangle")
                                {
                                    <i class="@icon"></i>@Parent.title
                                    @:&nbsp;&nbsp;&nbsp; <span class="badge badge-danger" id="badge_eventLogs"></span>
                                }
                                else
                                {
                                    <i class="@icon"></i>@Parent.title
                                }
                            }
                        </a>
                    </li>
                }
            }
        </ul>
</nav>
<audio src="@Url.Content("~/Content/notification.mp3")" id="my_audio" loop="loop" muted></audio>
<div id="windowModal"></div>
<script>
    var vTemplateDelete;
    var vWindowModal;
    var vTemplateDeleteDetail;

    $(document).ready(function () {
        if ($("#templateDelete").html()) {
            vTemplateDelete = kendo.template($("#templateDelete").html());
        }
        vWindowModal = $("#windowModal").kendoWindow({
            title: "",
            modal: true,
            visible: false,
            resizable: false,
            width: 500,
        }).data("kendoWindow");

        if ($("#templateDeleteDetail").html()) {
            vTemplateDeleteDetail = kendo.template($("#templateDeleteDetail").html());
        }
    });


</script>
<script>
    setInterval(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("totalEventLog", "EventsLogMonitoring")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
            },
            success: function (res) {
                if (res.alertName == "Event") {
                    if (res.totalAlert > 0) {
                        if (res.statusAlert == 1) {
                            document.getElementById('my_audio').muted = false;
                            document.getElementById("my_audio").play();

                            setTimeout(function wait() {
                                document.getElementById("my_audio").pause();
                                document.getElementById('my_audio').muted = true;
                            }, 5000);
                        }
                        $("#badge_eventLogs").addClass("badge badge-secondary");
                        $("#badge_eventLogs").html(res.totalAlert);
                    } else {
                        $("#badge_eventLogs").html("");
                    }
                }
            }
        });
    }, 2000);
        @*var audio = new Audio('@Url.Content("~/Content/notification.mp3")');
		var signalR_Datas = "";
        $(function () {
            $.connection.hub.url = '@signalr_url';
            signalR_Datas = $.connection.apphub;
            signalR_Datas.client.Alert = function (topic, Type, Datas) {
                let res = JSON.parse(Datas);
                if (res.alertName == "Event") {
                    if (res.totalAlert > 0) {
                        if (res.statusAlert == "1") {
                            document.getElementById('my_audio').muted = false;
                            document.getElementById("my_audio").play();

                            setTimeout(function wait() {
                                document.getElementById("my_audio").pause();
                                document.getElementById('my_audio').muted = true;
                            }, 5000);
                        }
                        $("#badge_eventLogs").addClass("badge badge-secondary");
                        $("#badge_eventLogs").html(res.totalAlert);
                    } else {
                        $("#badge_eventLogs").html("");
                    }
                }
            };
            //Connect();
            $.connection.hub.start().done(function () {

            });
        });*@
</script>
