﻿@{
    List<has.iot.Models.System.Category_REC> DataList = ViewData["Data"] as List<has.iot.Models.System.Category_REC>;
}
<ul class="list-category">
    <li class="add-category">
        <h5>Add Category</h5>
        @(Html.Kendo().Upload()
            .Name("files").HtmlAttributes(new { @class = "btn btn-primary" })
            .Async(a => a
                .Save("UploadFile", "Upload")
                .Remove("Remove", "Upload")
                .AutoUpload(true)
            ).Messages(m => m.Select("Choose File"))
            .Events(events => events
                .Success("onSuccess1")
            )
            .Validation(validation => validation.AllowedExtensions(new string[] { ".zip" }).MaxFileSize(300000)).Multiple(false)
        )
    </li>
    @foreach (has.iot.Models.System.Category_REC Data in DataList)
    {
        <li>
            <a href="@Url.Action("Brands", "IoTCategory", new { Area="",Category=Data.CategoryID })">
                <img width="20" src="@Url.Content("~/Content/img/"+Data.Image)" />
                @Data.CategoryName
            </a>
        </li>
    }

</ul>
<div id="windowModal"></div>
<script>
    $(document).ready(function () {
        $("#files").closest(".k-upload-button").addClass("btn btn-primary btn-upload-plugin");
        $("#files").closest(".k-upload-button").removeClass("k-button");
    });
    
    function removePlugin(ID) {
        var r = confirm("Remove this plugin!");
        if (r == true) {
            var voData = {
                ID: ID
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemovePlugin", "IotCategory")',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    if (result.errorcode < 1) {
                        alert(result.msg);
                        setTimeout(function () {
                            $('#exampleModal').modal('toggle');
                            window.location.replace('@Url.Action("Index", "IotCategory")');
                        }, 500);
                    } else {
                        alert(result.msg);
                    }
                }
            });
        }
    }
    function onSuccess1(e) {
        if (e.operation == "upload") {
            console.log(e);
            if (e.response.errorcode == "0") {
                alert(e.response.msg);
                setTimeout(function () {
                    window.location.replace('@Url.Action("Index", "IotCategory")');
                }, 500);
            } else {
                alert(e.response.msg);
            }
        } else if (e.operation == "remove") {
        }
    }

    var vTemplateDelete;
    var vWindowModal;

    $(document).ready(function () {
        if ($("#templateDelete").html()) {
            vTemplateDelete = kendo.template($("#templateDelete").html());
        }
        vWindowModal = $("#windowModal").kendoWindow({
            title: "",
            modal: true,
            visible: false,
            resizable: false,
            width: 500,
        }).data("kendoWindow");

    });
</script>
