﻿@using System.Web.Configuration;
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    string activeMenu = ViewData["activeMenu"] as string;
    string signalr_url = WebConfigurationManager.AppSettings["hub_url"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Human Monitoring</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='@Url.Content("~/Content/bootstrap.min.css")' />
    <link rel='stylesheet' href='@Url.Content("~/Content/style.css")' />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome/css/all.min.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{ string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/"; }

    <script>
        function base_url() {
            var pathparts = location.pathname.split('/');
            if (location.host.indexOf("localhost") != -1) {
                var url = location.origin + '/' + pathparts[1].trim('/') + '/'; // http://localhost/myproject/
            } else {
                var url = location.origin; // http://stackoverflow.com
            }
            return url;
        }
        var base_url = '@baseUrl'; //base_url();
    </script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/main.js")"></script>
    <script src="@Url.Content("~/Content/jquery-overflow.js")"></script>
    <!--Reference the SignalR library. -->
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Content/kendo/2017.3.1018/jszip.min.js")"></script>


    <!--Reference the SignalR library. -->
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@(signalr_url + "/hubs")"></script>
    <script>
            kendo.culture("@culture");
    </script>
</head>
<body>
    <div class="loading-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <span class="loading-spinner-text">Preparing file, Please wait...</span>
    </div>
    <div class="wrapper">
        <!-- Sidebar  -->
        @Html.Action("_MainMenu", "Partial", new { Area = "" })
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <h3 id="titleHumanMonitoring" style="margin-left:1%; margin-top:10px;text-align: left;font-weight: bold;letter-spacing: 0px;color: #2b609d;text-transform: uppercase;opacity: 1;">
                            HUMAN MONITORING
                        </h3>
                        <ul class="nav navbar-nav ml-auto navbar-header">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-bell"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">
                                    <img src="@Url.Content("~/Content/img/avatar.png")" id="nav-dropdown" class="avatar-img" />
                                </div>
                                <ul class="profile-dropdown">
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-user"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-bell"></i>
                                            Alerts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-cog"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li class="last-child-profile-dropdown">
                                        <a href="@Url.Action("Logout","Systems",new { Area = "" }, null)">
                                            <i class="fas fa-power-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb nav-title mb-0">
                    <li class="breadcrumb-item active" aria-current="page"><span style="font-size:12pt;letter-spacing: 0.22px; opacity: 1;">@ViewBag.TitleBar</span></li>
                </ol>
            </nav>

            @RenderBody()
        </div>
    </div>
    <div class="alert-modal">
        <i class="" id="alert-modal-icon"></i>
        <p id="alert-modal-caption"></p>
        <button type="button" class="btn btn-primary" id="alert-modal-action">Confirm</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $("#nav-dropdown").on("click", function () {
                $(".profile-dropdown").slideDown(200);
            });
            $("body").on("click", function (e) {
                if (e.target.getAttribute("id") != "nav-dropdown") {
                    $(".profile-dropdown").slideUp(200);
                }
            });
        });
        function alertConfirm(caption, btnText, icon, action) {
            $(".alert-modal #alert-modal-icon").attr("class", icon);
            $(".alert-modal #alert-modal-caption").html(caption);
            $(".alert-modal #alert-modal-action").html(btnText);
            $(".alert-modal #alert-modal-action").attr("onclick", action);
            var div = document.createElement("div");
            div.setAttribute("class", "alert-modal-overlay");
            div.setAttribute("onclick", "alertConfirmClose()");
            $("body").append(div);
            $("#alert-modal-action-2").remove();
            $(".alert-modal").show();
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        function alertConfirmClose() {
            $(".alert-modal").hide();
            $(".alert-modal-overlay").remove();
        }

        function alertConfirmation(caption, btnText, icon, action, action2) {
            $(".alert-modal #alert-modal-icon").attr("class", icon);
            $(".alert-modal #alert-modal-caption").html(caption);
            $(".alert-modal #alert-modal-action").html(btnText);
            $(".alert-modal #alert-modal-action").attr("onclick", action);
            var div = document.createElement("div");
            div.setAttribute("class", "alert-modal-overlay");
            div.setAttribute("onclick", "alertConfirmClose()");
            $("body").append(div);
            $("#alert-modal-action-2").remove();
            $(".alert-modal").append("<button type=\"button\" class=\"btn btn-primary\" id=\"alert-modal-action-2\">No</button>");
            $(".alert-modal #alert-modal-action-2").attr("onclick", action2);
            $(".alert-modal").show();
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        function alertConfirmationClose() {
            $(".alert-modal").hide();
            $(".alert-modal-overlay").remove();
        }
    </script>
</body>
</html>