﻿@model has.iot.Models.SmartWatchGatewayModel

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Gateway ID :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.gatewayID).HtmlAttributes(new { style = "width: 100%;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Gateway Name :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.gatewayName).HtmlAttributes(new { style = "width: 100%;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            IP Address :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.ipAddress).HtmlAttributes(new { style = "width: 100%;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Location :
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.location).HtmlAttributes(new { style = "width: 100%;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Status :
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownList()
          .Name("status")
          .BindTo(new List<string>() {
              "Active",
              "Not Active"
          })
         .HtmlAttributes(new { style = "width: 100%" })
        )
        </div>
    </div>
</div>