﻿@using has.iot.Models;
@{
    ViewBag.Title = "Registration";
    ViewBag.TitleBar = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "Registration");
}
<style>
    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
@{
    if (acs.e && acs.r)
    {


    <div class="body-content">
        <div class="col-md-12" style="background:#ffffff">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <h2 style="margin-left:20px;font-weight: bold;">New Case Registration</h2>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-inline myLabel">
                        <label class="col-md-2 control-label" for="textinput">Station No</label>
                        <div class="col-md-8">
                            <input style="width:100%;" id="station_no" name="textinput" type="text" placeholder="Station No" class="form-control input-md myInput">
                        </div>
                    </div>
                    <!-- Text Area-->
                    <div class="form-group" style="margin-left:20px; margin-top:15px;">
                        <label class="col-md-4 control-label" for="textinput">Heatlh Condition Remarks</label>
                        <div class="col-md-10">
                            <textarea id="HealthRemarks" style="width:100%;height:75px;" placeholder="Description" class="form-control input-md"></textarea>
                        </div>
                    </div>

                    <!-- Text Area-->
                    <div class="form-group" style="margin-left: 20px; margin-top: 15px;">
                        <label class="col-md-4 control-label" for="textinput">Case</label>
                        <div class="col-md-10">
                            <textarea id="Case" style="width:100%;height:75px;" placeholder="Description" class="form-control input-md"></textarea>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col-md-6">
                    <div class="form-group form-inline myLabel">
                        <label class="col-md-2 control-label" for="buttondropdown">Wearable Tags</label>
                        <div class="col-md-8">
                            <input id="WearableID" placeholder="Select" class="myInput"  />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group form-inline myLabel">
                        <label class="col-md-2 control-label" for="textinput">Location</label>
                        <div class="col-md-8">
                            <input id="Location" placeholder="Select" class="myInput">
                        </div>
                    </div>
                    <br />
                    <!-- Switch button-->
                    <div class="form-group form-inline myLabel">
                        <label class="col-md-3 control-label" for="textinput">Wearable Activated</label>
                        <div class="col-md-2">
                            <label class="switch">
                                <input type="checkbox" checked id="WearableActivated" value="Active" onclick="WearableActivatedStatus('wear')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <label class="col-md-3 control-label" for="textinput">Case Status</label>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" checked id="CaseStatus" value="Active" onclick="WearableActivatedStatus('case_status')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <br />
                    <!-- Switch button-->
                    <div class="form-group form-inline myLabel">
                        <label class="col-md-3 control-label" for="textinput">SOS Button Activated</label>
                        <div class="col-md-6">
                            <label class="switch">
                                <input type="checkbox" id="SosButton" value="Inactive" onclick="WearableActivatedStatus('sos')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /> @{
            if (acs.e && acs.c)
            {
                <div class="row">
                    <div class="col-md-12" style="text-align:center; margin-left:-5%;">
                        <button type="submit" id="Clear" class="btn btn-outline-secondary btn-lg" onclick="clearInput()" style="width:100px; background-color:white"> Clear</button>
                        <span></span>
                        <button type="submit" id="Register" class="btn btn-primary btn-lg" onclick="registerUser()" style="width:100px;">Register</button>
                    </div>
                </div>
                }
            }
    </div>

    <script type="text/javascript">

    $(document).ready(function () {

        $("#WearableID").kendoComboBox({
            dataTextField: "tagID",
            dataValueField: "tagID",
            dataSource: {
                transport: {
                    read: {
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("getWearableTags", "Registration")',
                    }
                }
            },
            filter: "contains"
        });

        var WearableIDinput = $("#WearableID").data("kendoComboBox").input;
        WearableIDinput.attr("readonly", "readonly");

        $("#Location").kendoComboBox({
            dataTextField: "location",
            dataValueField: "gatewayID",
            dataSource: {
                transport: {
                    read: {
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("getLocation", "Location")',
                    }
                }
            },
            filter: "contains"
        });

        var Locationinput = $("#Location").data("kendoComboBox").input;
        Locationinput.attr("readonly", "readonly");

        $("#switch").kendoMultiSelect();

        // resize VL
        $(window).resize(function () {
            if ($(this).width() < 1024) {
                $('.vl').hide();
            } else {
                $('.vl').show();
            }
        });

    });

    function clearInput() {
        alertConfirmation("Are you sure want to clear forms ?", "Yes", "fa fa-question-circle", "clearForm();", "alertConfirmClose();");
    }

    function clearForm() {
        $("input").val("");
        $("textarea").val("");
        alertConfirm("Succes", "Close", "fa fa-check-circle", "alertConfirmClose();");
    }

    function myalert(content) {
        $("<div></div>").kendoAlert({
            title: "Messages",
            content: content
        }).data("kendoAlert").open();


        $(".k-button").click(function () {
            location.reload();
        });
    }


    function registerUser() {
        alertConfirmation("Submit Data ?", "Yes", "fa fa-question-circle", "RegisterSubmit();", "alertConfirmClose();");
    }

    function RegisterSubmit() {
        var voData = {
            stationNo: $("#station_no").val(),
            DefaultWearable: $("#WearableID").val(),
            defaultZone: $("#Location").val(),
            HealthRemarks: $("#HealthRemarks").val(),
            CaseRemarks: $("#Case").val(),
            WearableActivated: $("#WearableActivated").val(),
            SosButton: $("#SosButton").val(),
            status: $("#CaseStatus").val(),
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Registration")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }

    function is_validate(voData) {
        if (voData.stationNo == "") {
            kendo.alert("Station No is required !");
            return false;
        } else if (voData.DefaultWearable == "") {
            kendo.alert("Wearable Tags is required !");
            return false;
        } else if (voData.defaultZone == "") {
            kendo.alert("Location is required !");
            return false;
        } else {
            return true;
        }
    }

    function WearableActivatedStatus(status) {
        var wearableActiveStatus = $("#WearableActivated").val();
        var SosButtonStatus = $("#SosButton").val();
        var caseStatus = $("#CaseStatus").val();
        if (status == "wear") {
            if (wearableActiveStatus == "Active") {
                $("#WearableActivated").val("Inactive");
            } else {
                $("#WearableActivated").val("Active");
            }
        } else if (status == "case_status") {
            if (caseStatus == "Active") {
                $("#CaseStatus").val("Inactive");
            } else {
                $("#CaseStatus").val("Active");
            }
        } else {
            if (SosButtonStatus == "Active") {
                $("#SosButton").val("Inactive");
            } else {
                $("#SosButton").val("Active");
            }
        }
    }
    </script>
    }
}