﻿@{ 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - IoT Platform</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='@Url.Content("~/Content/bootstrap.min.css")' />
    <link rel='stylesheet' href='@Url.Content("~/Content/login.css")' />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome/css/all.min.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function base_url() {
            var pathparts = location.pathname.split('/');
            if (location.host.indexOf("localhost") != -1) {
                var url = location.origin + '/' + pathparts[1].trim('/') + '/'; // http://localhost/myproject/
            } else {
                var url = location.origin + "/human.monitoring/"; // http://stackoverflow.com
            }
            return url;
        }
        var base_url = base_url();
    </script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/main.js")"></script>
    <script src="@Url.Content("~/Content/jquery-overflow.js")"></script>
</head>
<style type="text/css">
    .alert-modal {
        width: 500px;
        background: #fff;
        box-shadow: 0px 10px 20px #00000029;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        transition: all 0.5s;
        display: none;
        margin: 0 auto;
        z-index: 99999;
        border-radius: 15px;
        text-align: center;
        padding: 20px 0;
    }

        .alert-modal > i {
            font-size: 60px;
            margin-bottom: 20px;
            color: #153855;
        }

    .alert-modal-overlay {
        background: #00000030;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
    }
</style>
<body class="bg-login">
    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-8 left-area">
                @*<h1>Hitachi IoT Common Platform Dashboard</h1>*@
                <img src="@Url.Content("~/Content/img/bg-home.png")">
            </div>
            <div class="col-md-4 bg-white right-area">
                <div class="wrapper-content-right-area">
                    <div class="login-form-title">
                        <img src="@Url.Content("~/Content/img/logo-1.png")" class="logo-1 face-up" width="100px">
                    </div>
                    <div class="login-form-title">
                        <img src="@Url.Content("~/Content/img/login-logo.png")" class="login-logo">
                        <h5>Login into Your Account</h5>
                    </div>
                    <form onsubmit="return login()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="uuid" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                        <div class="form-group mb-1">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="********" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                        <div class="form-check row mb-5">
                            <div class="col-md-6 keep-signedin">
                                <input type="checkbox" class="form-check-input" id="keepsignedin" autocomplete="off">
                                <label class="form-check-label" for="keepsignedin">Keep me signed in</label>
                            </div>
                            <div class="col-md-6 align-right">
                                <a href="#">Forgot password</a>
                            </div>
                        </div>
                        <div class="form-button">
                            <button id="btnLogin" type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="alert-modal">
        <i class="" id="alert-modal-icon"></i>
        <p id="alert-modal-caption"></p>
        <button type="button" class="btn btn-primary" id="alert-modal-action">Confirm</button>
    </div>
    <script type="text/javascript">
        function alertConfirm(caption, btnText, icon, action) {
            $(".alert-modal #alert-modal-icon").attr("class", icon);
            $(".alert-modal #alert-modal-caption").html(caption);
            $(".alert-modal #alert-modal-action").html(btnText);
            $(".alert-modal #alert-modal-action").attr("onclick", action);
            var div = document.createElement("div");
            div.setAttribute("class", "alert-modal-overlay");
            div.setAttribute("onclick", "alertConfirmClose()");
            $("body").append(div);
            $("#alert-modal-action-2").remove();
            $(".alert-modal").show();
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        function alertConfirmClose() {
            $(".alert-modal").hide();
            $(".alert-modal-overlay").remove();
        }

        function alertConfirmation(caption, btnText, icon, action, action2) {
            $(".alert-modal #alert-modal-icon").attr("class", icon);
            $(".alert-modal #alert-modal-caption").html(caption);
            $(".alert-modal #alert-modal-action").html(btnText);
            $(".alert-modal #alert-modal-action").attr("onclick", action);
            var div = document.createElement("div");
            div.setAttribute("class", "alert-modal-overlay");
            div.setAttribute("onclick", "alertConfirmClose()");
            $("body").append(div);
            $("#alert-modal-action-2").remove();
            $(".alert-modal").append("<button type=\"button\" class=\"btn btn-primary\" id=\"alert-modal-action-2\">No</button>");
            $(".alert-modal #alert-modal-action-2").attr("onclick", action2);
            $(".alert-modal").show();
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        function alertConfirmationClose() {
            $(".alert-modal").hide();
            $(".alert-modal-overlay").remove();
        }
        $(document).ready(function () {

        });
        function login(e) {
            if (e == undefined)
                e = $("#btnLogin");
            var data = {
                uuid: $("#username").val(),
                password: $("#password").val(),
            };
            $.ajax({
                url: "@Url.Action("Login","Webservice")",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled","disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    if (result.errorcode > 0)
                    {
                        alertConfirm(result.msg, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                    } else {
                        alertConfirm(result.msg, "Close", "fa fa-check-circle", "goDashboard();");

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
            return false;
        }
        function goDashboard() {
            window.location.href = base_url;
        }
    </script>
</body>
</html>