﻿@using has.iot.Models;
@{
    ViewBag.Title = "User";
    ViewBag.TitleBar = "User";
}
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<Users_REC>()
            .Name("grid")
            .ToolBar(t =>
            {
                //t.Custom().Text("Add New").Action("ServicesForm", "Services");
            })
            .Columns(columns =>
            {
                columns.Bound(c => c.uuid).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(50);
                columns.Bound(c => c.password).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.age).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(30);
                columns.Bound(c => c.race).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.raceSpecify).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.weight).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(30);
                columns.Bound(c => c.height).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(30);
            })
            .DataSource(ds => ds
                .Ajax()
                .Model(m => m.Id(r => r.uuid))
                .PageSize(30)
                .Read(r => r.Action("GetUserList", "Systems"))
            )
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .Events(e=>e.DataBound("onBound"))
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    function onBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
    }
</script>