﻿@using has.iot.Models;
@{
    ViewBag.Title = "Wearable Tags Log";
    ViewBag.TitleBar = "Wearable Tags Log";
}
<div class="body-content">
        <div class="col-md-12">
            @(Html.Kendo().Grid<BLESmartWatchDataGrid>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MM-yyyy hh:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false))).Width(100);
                columns.Bound(c => c.person).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.mac).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.location).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.type).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.battery).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.heartrate).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.step).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.sleep).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.calories).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.blood).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.temperature).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.sos).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.unwear).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.falling).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.nearby).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.battery_update).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.blood_update).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.temperature_update).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
            })
            .DataSource(ds => ds
                .Ajax()
                .Model(m => m.Id(r => r.mac))
                .PageSize(50)
                .Read(r => r.Action("ReadLog", "WearableTags"))
            )
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            )
    </div>
</div>
<script type="text/javascript">
    var ws = "";
    $(function () {
        // Start the connection.
    });

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
            $("#personID_title").attr("style", "display:none");
            $("#personID_column").attr("style", "display:none");
        }
        else {
            $("#tagID").attr("readonly", true);
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Message");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();
        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);
        vData.PersonID = vData.personID;
        vData.PersonName = vData.personName;
        vData.AvatarID = vData.avatarID;
        vData.DefaultZone = vData.defaultZone;
        vData.tagID = vData.tagID;
        if (vData.PersonID == null) {
            vWindowModal.title("Delete Confirmation?");
            vWindowModal.content(vTemplateDelete(vData));
            vWindowModal.center().open();

            $("#buttonDeleteYes").click(function () {
                vGrid.removeRow(vRow);
                vWindowModal.close();
            });

            $("#buttonDeleteNo").click(function () {
                vWindowModal.close();
            });
        } else {
            vWindowModal.title("Can't Delete Wearable Tags : " + vData.tagID);
            vWindowModal.content("There is person ID : " + vData.PersonID);
            vWindowModal.center().open();
        }
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Wearable ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="tagID" name="tagID" value="#=tagID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>