﻿@using has.iot.Models;
@{
    ViewBag.Title = "Wearable Tags";
    ViewBag.TitleBar = "Wearable Tags";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "WearableTags");
}

@{ 

    if (acs.e && acs.r)
    {
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<WearableTagModel>()
                .Name("grid")
                .Columns(columns =>
                {
                columns.Command(c =>
                {
                    if (acs.e && acs.u)
                    {

                        c.Edit().Text(" ");
                    }
                    if (acs.e && acs.d)
                    {
                        c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                    }
                }).Width(100);

                columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MM-yyyy hh:mm:ss}").Filterable(f => f.Enabled(false)).Width(90);
                columns.Bound(c => c.tagID).Title("Wearable Tags").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.active).Title("Active Status").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                @*columns.Bound(c => c.personID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);*@
                    columns.Bound(c => c.stationNo).Title("Station No").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                    .Model(m => m.Id(r => r.tagID))
                    .PageSize(30)
                    .Create(c => c.Action("Create", "WearableTags"))
                    .Read(r => r.Action("Read", "WearableTags"))
                    .Update(r => r.Action("Update", "WearableTags"))
                    .Destroy(r => r.Action("Destroy", "WearableTags"))
                )
                .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
                .Events(e => e.Edit("grid_onEdit"))
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
                .ToolBar(c =>
                {
                    if (acs.e && acs.c)
                    {
                        c.Create().Text("Add New");
                    }
                })
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    var ws = "";
    $(function () {
        // Start the connection.
    });

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
            $("#personID_title").attr("style", "display:none");
            $("#personID_column").attr("style", "display:none");
        }
        else {
            $("#tagID").attr("readonly", true);
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "<p>Errors : </p>";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += "<label style='color:red'>- " + this + "</label><br>";
                    });
                }
            });

            vWindowModal.title("Message");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function datePicker(element) {

        element.kendoDatePicker({
            format: "dd/MM/yyyy"
        });

    }

    function gridrow_onDelete(e) {
        e.preventDefault();
        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);
        vData.PersonID = vData.personID;
        vData.PersonName = vData.personName;
        vData.AvatarID = vData.avatarID;
        vData.DefaultZone = vData.defaultZone;
        vData.tagID = vData.tagID;
        vData.stationNo = vData.stationNo;
        if (vData.stationNo == null || vData.stationNo == "") {
            vWindowModal.title("Delete Confirmation?");
            vWindowModal.content(vTemplateDelete(vData));
            vWindowModal.center().open();

            $("#buttonDeleteYes").click(function () {
                vGrid.removeRow(vRow);
                vWindowModal.close();
            });

            $("#buttonDeleteNo").click(function () {
                vWindowModal.close();
            });
        } else {
            vWindowModal.title("Can't Delete Wearable Tags : " + vData.tagID);
            vWindowModal.content("There is Station No : " + vData.stationNo);
            vWindowModal.center().open();
        }
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Wearable Tags:</div>
            <div class="k-edit-field"><input class="k-textbox" id="tagID" name="tagID" value="#=tagID#" readonly="readonly"> </div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
        }
    }