﻿@using System.Web.Configuration;
@using has.iot.Models;
@{
    has.iot.Models.ProfileMaster data = ViewData["ProfileDetail"] as has.iot.Models.ProfileMaster;
    has.iot.Models.BLESmartWatchData dataWearable = ViewData["WearableLog"] as has.iot.Models.BLESmartWatchData;
    ViewBag.Title = "Profile Details";
    ViewBag.TitleBar = "Profile Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string signalr_url = WebConfigurationManager.AppSettings["hub_url"].ToString();

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "ProfileMaster");
}
<style>
    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        height: 500px; /* Length of your line */
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    input, select, textarea {
        color: #000000;
    }

    .person-icon-detail {
        width: 30px;
        position: absolute;
    }
</style>
@{

    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="row">
                <div class="col-md-3" style="margin-top: -15px; background: #ffffff; border-radius: 3px; box-shadow: 0px 0px 10px #0000000D;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row" style="margin-left:30px; margin-top:20px;">
                                <div class="col-md-4">
                                    <img src="@Url.Content("~/Content/img/smartwatch.png")" width="40px" />
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <span style="font-weight:bold;color: #6A707E;">Station No: @data.stationNo</span>
                                    </div>
                                    <div class="row">
                                        <h3 style="font-weight:bold;" id="battery"> %</h3>
                                    </div>
                                    <div class="row">
                                        <span style="font-weight:bold;color: #6A707E;">SN: @data.DefaultWearable</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Text Area-->
                            <div class="form-group" style="margin-left:20px; margin-top:15px;">
                                <label class="col-md-6 control-label" for="textinput" style="color: #6A707E;font-size:12px;;font-weight:bold;">Heatlh Condition Remarks</label>
                                <div class="col-md-6">
                                    <textarea readonly id="HealthRemarks" style="width:190%;height:75px;background: #f7f7f7 0% 0% no-repeat padding-box;border-radius: 5px;color: black; font-weight: bold;" placeholder="Description" class="form-control input-md">@data.HealthRemarks</textarea>
                                </div>
                            </div>

                            <!-- Text Area-->
                            <div class="form-group" style="margin-left:20px; margin-top:5px;">
                                <label class="col-md-6 control-label" for="textinput" style="color: #6A707E;font-size:12px;;font-weight:bold;">Case</label>
                                <div class="col-md-6">
                                    <textarea readonly "Case" style="width:190%;height:75px;background: #f7f7f7 0% 0% no-repeat padding-box;border-radius: 5px;color: black; font-weight: bold;" placeholder="Description" class="form-control input-md">@data.CaseRemarks</textarea>
                                </div>
                            </div>

                            <!-- Text Area-->
                            <div class="form-group" style="margin-left:10px; margin-top:5px;">
                                <div class="col-md-12">
                                    <button type="submit" id="Register" class="btn btn-primary btn-lg" onclick="goEdit()" style="background:#2B609D; width:280px;margin-left:2%;">Edit Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Side Right*@

            <div class="col-md-8" style="margin-left:2%;margin-top:-15px;">
                <div class="row">
                    <span style="color: #2B609D; font-weight:bold;">
                        <a href="@Url.Action("Index", "ProfileMaster")">< Back</a>
                    </span>
                </div>
                <div class="row">
                    <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                        Data Readings
                    </span>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3" style="background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <div class="row" style="margin-left:10%;">
                            <div class="col-md-8">
                                <br />
                                <div class="row">
                                    <h3 style="font-weight:bold;" id="temperature"> °C</h3>
                                </div>
                                <div class="row">
                                    <span style="font-weight:lighter;color: #6A707E;">Skin Tamperature</span>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-4">
                                <br />
                                <img src="@Url.Content("~/Content/img/temperature.png")" width="20px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-left: 2%; background: #2B609D; box-shadow: 0px 3px 6px #0000000D; border: 1px solid #70707033; border-radius: 3px; width: 550px ">
                        <div id="chart"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3" style="background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <div class="row" style="margin-left:10%;">
                            <div class="col-md-8">
                                <br />
                                <div class="row">
                                    <h3 style="font-weight:bold;" id="heartrate"> bpm</h3>
                                </div>
                                <div class="row">
                                    <span style="font-weight:lighter;color: #6A707E;">Heart Rate</span>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-4">
                                <br />
                                <img src="@Url.Content("~/Content/img/heart.png")" width="30px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-left: 2%; background: #2B609D; box-shadow: 0px 3px 6px #0000000D; border: 1px solid #70707033; border-radius: 3px; width: 550px">
                        <div id="chart2"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3" style="background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <div class="row" style="margin-left:10%;">
                            <div class="col-md-8">
                                <br />
                                <div class="row">
                                    <h3 style="font-weight:bold;" id="blood_pressure"> mmHg</h3>
                                </div>
                                <div class="row">
                                    <span style="font-weight:lighter;color: #6A707E;">Blood Pressure</span>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-4">
                                <br />
                                <img src="@Url.Content("~/Content/img/heart.png")" width="30px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" style="margin-left: 2%; background: #2B609D; box-shadow: 0px 3px 6px #0000000D; border: 1px solid #70707033; border-radius: 3px; width: 550px">
                        <div id="chart3"></div>
                    </div>
                </div>
                <br />
                @*<div class="row">
                    <div class="col-md-8">
                <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                    Room Locations
                </span>
            </div>
                    <div class="col-md-3">
                        <div class="row" style="margin-left: 7%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Wearable Activated
                            </span>
                        </div>
                    </div>
                </div>*@
                @*<div class="row">
            <div class="col-md-8" style="background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <br />
                        <img src="@Url.Content("~/Content/assets/images/icon-user.png")" class="person-icon-detail" style="left: 40%;top: 65%; display:none">
                        <img src="@Url.Content("~/Content/img/f03_map.jpg")" width="500px" />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin-left:2%;">
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;">
                            @Html.Raw(data.WearableActivated == "on" ? "ACTIVATED" : "DEACTIVATED")
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;margin-top: 10%;">
                    <div class="col-md-12" style="text-align:left;height:30px; margin-left:-12%;">
                        <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                            SOS Button Activated
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;">
                            NOT ACTIVATED
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;margin-top: 10%;">
                    <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                        <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                            Tampered
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;" id="sos_status">

                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;margin-top: 10%;">
                    <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                        <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                            Fall Down
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;" id="fall_down">

                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;margin-top: 10%;">
                    <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                        <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                            Case Status
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;">
                            Active
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;margin-top: 10%;">
                    <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                        <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                            Location
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-left:10%;">
                    <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                        <span style="padding: 5px; font-weight:bold;" id="location">

                        </span>
                    </div>
                </div>
            </div>
        </div>*@

            <div class="row" style="margin-top:-20px">
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Wearable Activated
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;">
                                @Html.Raw(data.WearableActivated == "Active" ? "ACTIVATED" : "DEACTIVATED")
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                SOS Button Activated
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;">
                                NOT ACTIVATED
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Tampered
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;" id="sos_status">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Fall Down
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;" id="fall_down">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Case Status
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;">
                                Active
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin-left:10%;margin-top: 10%;">
                        <div class="col-md-12" style="text-align:left;height:30px;margin-top: 0%; margin-left:-12%;">
                            <span style="color: #6A707E; font-weight:bold; font-size:14px;">
                                Location
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10%;">
                        <div class="col-md-12" style="text-align:center;height:30px;margin-top: 0%; margin-left:-12%;background: #ffffff;box-shadow: 0px 3px 6px #0000000D;border: 1px solid #70707033;border-radius: 3px;">
                            <span style="padding: 5px; font-weight:bold;" id="location">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var voTemperature = 0;
    var voHeartRate = 0;
    var voBloodPressure = 0;
    var voCalories = 0;
    var DateTime = new Date();
    var POINTS = 40;
    var second1 = (DateTime.getSeconds() + 60) - POINTS;
    var second2 = (DateTime.getSeconds() + 60) - POINTS;
    var second3 = (DateTime.getSeconds() + 60) - POINTS;
    var second4 = (DateTime.getSeconds() + 60) - POINTS;
    var stockDataChart1;
    var TICKS_PER_DAY = 3600 * 24,
        lastDate = new Date(),
        poTarget,
        fpsUpdateInterval, trend,
        categoryList = [],
        categoryList2 = [],
        categoryList3 = [],
        categoryList4 = [],
        stocks = [[], []];
        stocks2 = [[], []];
        stocks3 = [[], []];
        stocks4 = [[], []];
        var iCount = 0;
        var iCount2 = 0;
        var iCount3 = 0;
        var iCount4 = 0;
        for (i = second1; i < (second1 + POINTS); i++) {
            if (i > 59) {
                categoryList.push(iCount);
                stocks[0].push(0);
                iCount++;
            } else {
                categoryList.push(i);
                stocks[0].push(0);

            }
        }

        for (ii = second2; ii < (second2 + POINTS); ii++) {
            if (ii > 59) {
                categoryList2.push(iCount2);
                stocks2[0].push(0);
                iCount2++;
            } else {
                categoryList2.push(ii);
                stocks2[0].push(0);

            }
        }

        for (iii = second3; iii < (second3 + POINTS); iii++) {
            if (iii > 59) {
                categoryList3.push(iCount3);
                stocks3[0].push(0);
                iCount3++;
            } else {
                categoryList3.push(iii);
                stocks3[0].push(0);

            }
        }

        for (iv = second3; iv < (second4 + POINTS); iv++) {
            if (iv > 59) {
                categoryList4.push(iCount4);
                stocks4[0].push(0);
                iCount4++;
            } else {
                categoryList4.push(iv);
                stocks4[0].push(0);

            }
        }
    $(document).ready(function () {

        let options1 = {
            chartArea: { "background": "transparent", "height": 110 },
            legend: { "visible": false },
            series: [{
                data: stocks[0],
                type: "area",
                color: "#ffffff70"
            }, {
                data: stocks[0],
                type: "area",
                color: "#fff"
            }],
            seriesDefaults: { line: { "style": "smooth" }, area: { "style": "smooth" } },
            categoryAxis: [{
                categories: categoryList,
                color: "#fff",
                majorGridLines: { "visible": false },
                line: { color: "#ffffff70" },
                labels: {
                    font: "10px Roboto-Regular"
                }
            }],
            valueAxis: [{
                color: "#fff", "labels": { "format": "{0}" },
                line: { "visible": false },
                majorGridLines: { color: "#ffffff70" },
                min: 0, majorUnit: 20,
                labels: {
                    font: "8px Roboto-Regular"
                }
            }],
            tooltip: { "format": "{0}°C", template: "#= value # °C", "visible": true, font: "12px Roboto-Regular" },
            pannable: { lock: "y" },
            zoomable: { mousewheel: { lock: "y" }, selection: { lock: "y" } },
            transitions: false
        };
        createChart('chart', options1);


        let options2 = {
            chartArea: { "background": "transparent", "height": 110 },
            legend: { "visible": false },
            series: [{
                data: stocks2[0],
                type: "area",
                color: "#ffffff70"
            }, {
                data: stocks2[0],
                type: "area",
                color: "#fff"
            }],
            seriesDefaults: { line: { "style": "smooth" }, area: { "style": "smooth" } },
            categoryAxis: [{
                categories: categoryList2,
                color: "#fff",
                majorGridLines: { "visible": false },
                line: { color: "#ffffff70" },
                labels: {
                    font: "10px Roboto-Regular"
                }
            }],
            valueAxis: [{
                color: "#fff", "labels": { "format": "{0}" },
                line: { "visible": false },
                majorGridLines: { color: "#ffffff70" },
                min: 0, majorUnit: 200,
                labels: {
                    font: "8px Roboto-Regular"
                }
            }],
            tooltip: { "format": "{0} bpm", template: "#= value # bpm", "visible": true, font: "12px Roboto-Regular" },
            pannable: { lock: "y" },
            zoomable: { mousewheel: { lock: "y" }, selection: { lock: "y" } },
            transitions: false
        };
        createChart('chart2', options2);


        let options3 = {
            chartArea: { "background": "transparent", "height": 110 },
            legend: { "visible": false },
            series: [{
                data: stocks3[0],
                type: "area",
                color: "#ffffff70",
            }, {
                data: stocks3[0],
                type: "area",
                color: "#fff", name: "Systolic"
                }, {
                data: stocks4[0],
                    type: "area",
                    color: "#fff"
                },{
                data: stocks4[0],
                    type: "area",
                color: "#ffffff70", name: "Diastolic"
                }],
            seriesDefaults: { line: { "style": "smooth" }, area: { "style": "smooth" } },
            categoryAxis: [{
                categories: categoryList3,
                color: "#fff",
                majorGridLines: { "visible": false },
                line: { color: "#ffffff70" },
                labels: {
                    font: "10px Roboto-Regular"
                }
            }],
            valueAxis: [{
                color: "#fff", "labels": { "format": "{0}" },
                line: { "visible": false },
                majorGridLines: { color: "#ffffff70" },
                min: 0, majorUnit: 200,
                labels: {
                    font: "8px Roboto-Regular"
                }
            }],
            tooltip: { "format": "{0}", template: "#= series.name # #= value #", "visible": true, font: "12px RobotostationNstationNotationNogular" } ,
            pannable: { lock: "y" },
            zoomable: { mousewheel: { lock: "y" }, selection: { lock: "y" } },
            transitions: false
        };
        createChart('chart3', options3);

        step();
        step2();
        step3();
    });


    function step() {
        trend = setTimeout(function () {
            addPoint();
            if ($("#chart").data("kendoChart")) {
                $("#chart").data("kendoChart").refresh();
            }
            kendo.animationFrame(step);
        }, 1000);
    }


    function step2() {
        trend2 = setTimeout(function () {
            addPoint2();
            if ($("#chart2").data("kendoChart")) {
                $("#chart2").data("kendoChart").refresh();
            }
            kendo.animationFrame(step2);
        }, 1000);
    }

    function step3() {
        trend3 = setTimeout(function () {
            addPoint3();
            if ($("#chart3").data("kendoChart")) {
                $("#chart3").data("kendoChart").refresh();
            }
            kendo.animationFrame(step3);
        }, 1000);
    }

        function addPoint() {
            var stockData;

            // Shift existing categories to the left and add the next date at the end
            lastDate = new Date();
            categoryList.push(lastDate.getSeconds());
            if (categoryList.length > POINTS) {
                categoryList.shift();
            }
            for (var i = 0; i < stocks.length; i++) {
                stockData = stocks[i];
                // Add a new pseudo-random data point
                stockData.push(voTemperature);
                // Shift the data points of each series to the left
                if (stockData.length > POINTS) {
                    stockData.shift();
                }
            }
        }

        function addPoint2() {
            var stockData;

            // Shift existing categories to the left and add the next date at the end
            lastDate = new Date();
            categoryList2.push(lastDate.getSeconds());

            if (categoryList2.length > POINTS) {
                categoryList2.shift();
            }
            for (var i = 0; i < stocks2.length; i++) {
                stockData = stocks2[i];
                // Add a new pseudo-random data point
                stockData.push(voHeartRate);
                // Shift the data points of each series to the left
                if (stockData.length > POINTS) {
                    stockData.shift();
                }
            }
        }

        function addPoint3() {
            var stockData;
            var stockData2;

            // Shift existing categories to the left and add the next date at the end
            lastDate = new Date();
            categoryList3.push(lastDate.getSeconds());

            if (categoryList3.length > POINTS) {
                categoryList3.shift();
            }
            for (var i = 0; i < stocks3.length; i++) {
                stockData = stocks3[i];
                // Add a new pseudo-random data point
                stockData.push(voBloodPressure);
                // Shift the data points of each series to the left
                if (stockData.length > POINTS) {
                    stockData.shift();
                }
            }

            // Shift existing categories to the left and add the next date at the end
            lastDate2 = new Date();
            categoryList4.push(lastDate2.getSeconds());

            if (categoryList4.length > POINTS) {
                categoryList4.shift();
            }
            for (var i = 0; i < stocks4.length; i++) {
                stockData2 = stocks4[i];
                // Add a new pseudo-random data point
                stockData2.push(voCalories);
                // Shift the data points of each series to the left
                if (stockData2.length > POINTS) {
                    stockData2.shift();
                }
            }
        }

        function goEdit() {
            window.location.replace('@Url.Action("Edit", "ProfileMaster")?id=' + '@data.stationNo');
    }

    function createChart(id, options) {
        $("#" + id).kendoChart(options);
    }

            </script>
            <script>
		var signalR_Datas = "";
        var sos = true;
        var falling = true;
        $(function () {
            $.connection.hub.url = '@signalr_url';
            signalR_Datas = $.connection.apphub;
            signalR_Datas.client.Smartwatch = function (topic, Type, Datas) {
                let obj = JSON.parse(Datas);
                if (obj.person == '@data.stationNo') {
                    if (obj.RecordTimestamp != undefined) {
                        $("#battery").html(obj.battery + " %");
                        $("#temperature").html(obj.temperature + " °C");
                        $("#heartrate").html(obj.heartrate + " bpm");
                        $("#blood_pressure").html(obj.blood + "/" + obj.calories + " mmHg");
                        //$(".person-icon-detail").attr("style", "left:" + obj.left + "; top:" + obj.top + ";");
                        voTemperature = obj.temperature;
                        voHeartRate = obj.heartrate;
                        voBloodPressure = obj.blood;
                        voCalories = obj.calories;
                        sos = obj.unwear;
                        if (sos) {
                            $("#sos_status").attr("style", "padding: 5px; font-weight:bold;color:red;");
                            $("#sos_status").html("Yes");
                        } else {
                            $("#sos_status").attr("style", "padding: 5px; font-weight:bold;color:green;");
                            $("#sos_status").html("No");
                        }

                        falling = obj.falling;
                        if (falling) {
                            $("#fall_down").attr("style", "padding: 5px; font-weight:bold;color:red;");
                            $("#fall_down").html("Yes");
                        } else {
                            $("#fall_down").attr("style", "padding: 5px; font-weight:bold;color:green;");
                            $("#fall_down").html("No");
                        }

                        $("#location").html(obj.Location);
                    }
                }
            };
            //Connect();
            $.connection.hub.start().done(function () {

            });
        });
            </script>

            }
          }
