﻿@using has.iot.Models;
@{
    has.iot.Models.ProfileMaster data = ViewData["ProfileDetail"] as has.iot.Models.ProfileMaster;
    ViewBag.Title = "Edit Profile Master";
    ViewBag.TitleBar = "Edit Profile Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "ProfileMaster");
}
<style>
    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<style>
    .armchair {
        overflow: auto;
        height: calc(100% - 70px);
        padding: 5px
    }

    .window-footer {
        margin-top:10px;
        bottom: 0;
        display: block;
        width: 85%;
        padding: 9px 0 10px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
</style>
@{
    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="col-md-12" style="background:#ffffff">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h2 style="margin-left:20px;font-weight: bold;">Edit Profile Master</h2>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-inline myLabel">
                            <label class="col-md-2 control-label" for="textinput">Station No</label>
                            <div class="col-md-8">
                                @data.stationNo
                            </div>
                        </div>
                        <!-- Text Area-->
                        <div class="form-group" style="margin-left:20px; margin-top:35px;">
                            <label class="col-md-4 control-label" for="textinput">Heatlh Condition Remarks</label>
                            <div class="col-md-10">
                                <textarea id="HealthRemarks" style="width:100%;height:75px;" placeholder="Description" class="form-control input-md">@data.HealthRemarks</textarea>
                            </div>
                        </div>

                        <!-- Text Area-->
                        <div class="form-group" style="margin-left:20px; margin-top:35px;">
                            <label class="col-md-4 control-label" for="textinput">Case</label>
                            <div class="col-md-10">
                                <textarea id="Case" style="width:100%;height:75px;" placeholder="Description" class="form-control input-md">@data.CaseRemarks</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="vl"></div>
                    <div class="col-md-6">
                        <!-- Button Drop Down -->
                        <div class="form-group form-inline myLabel">
                            <label class="col-md-2 control-label" for="buttondropdown">Wearable Tags</label>
                            <div class="col-md-8">
                                <input value="@data.DefaultWearable" id="WearableID" placeholder="Select" class="myInput" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group form-inline myLabel">
                            <label class="col-md-2 control-label" for="textinput">Location</label>
                            <div class="col-md-8">
                                <input value="@data.defaultZone" id="Location" placeholder="Select" class="myInput">

                            </div>
                        </div>
                        <br />
                        <!-- Switch button-->
                        <div class="form-group form-inline myLabel">
                            <label class="col-md-3 control-label" for="textinput">Wearable Activated</label>
                            <div class="col-md-2">
                                <label class="switch">
                                    <input type="checkbox" id="WearableActivated" @(data.WearableActivated == "Active" ? "checked" : "") value="@data.WearableActivated" onclick="WearableActivatedStatus('wear')">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <label class="col-md-3 control-label" for="textinput">Case Status</label>
                            <div class="col-md-3">
                                <label class="switch">
                                    <input type="checkbox" id="CaseStatus" @(data.status == "Active" ? "checked" : "") value="@data.status" onclick="WearableActivatedStatus('case_status')">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <br />
                        <!-- Switch button-->
                        <div class="form-group form-inline myLabel">
                            <label class="col-md-3 control-label" for="textinput">SOS Button Activated</label>
                            <div class="col-md-6">
                                <label class="switch">
                                    <input type="checkbox" @(data.SosButton == "Active" ? "checked" : "") value="@data.SosButton" id="SosButton" onclick="WearableActivatedStatus('sos')">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-10" style="text-align:center;">
                    <button type="submit" id="Clear" class="btn btn-default btn-lg" onclick="window.location.replace('@Url.Action("Index", "ProfileMaster")')" style="width: 100px; margin-left: 9%;"> Cancel</button>
                    <span></span>
                    @{
                        if (acs.e && acs.u)
                        {
                            <button type="submit" id="Register" class="btn btn-primary btn-lg" onclick="UpdatePerson()" style="width:100px;">Update</button>
                        }
                    }
                </div>
                <div class="col-md-2" style="text-align:right;">
                    @{
                        if (acs.e && acs.d)
                        {
                            <button type="submit" id="Register" class="btn btn-danger btn-lg" onclick="removePerson()" style="width:100px;margin-left:-20%;">Delete</button>
                        }
                        else
                        {
                            <button type="submit" id="Register" class="btn btn-danger btn-lg" onclick="DeleteConfirmation()" style="width:100px;margin-left:-20%;">Delete</button>
                        }
                    }
                </div>
            </div>

        </div>
        <div id="alert"></div>

        <script type="text/javascript">

$(document).ready(function () {
    $("#WearableID").kendoComboBox({
        dataTextField: "tagID",
        dataValueField: "tagID",
        dataSource: {
            transport: {
                read: {
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("getWearableTagsEdit", "ProfileMaster")?stationNo=' + '@data.stationNo',
                }
            }
        },
        filter: "contains",
        suggest: true,
    });

    var Locationinput = $("#WearableID").data("kendoComboBox").input;
    Locationinput.attr("readonly", "readonly");

    $("#Location").kendoComboBox({
            dataTextField: "location",
            dataValueField: "gatewayID",
            dataSource: {
                transport: {
                    read: {
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("getLocation", "Location")',
                    }
                }
            },
            filter: "contains",
    });

    var Locationinput = $("#Location").data("kendoComboBox").input;
    Locationinput.attr("readonly", "readonly");

    $("#switch").kendoMultiSelect();

    // resize VL
    $(window).resize(function () {
        if ($(this).width() < 1024) {
            $('.vl').hide();
        } else {
            $('.vl').show();
        }
    });
});

function WearableActivatedStatus(status) {
    var wearableActiveStatus = $("#WearableActivated").val();
    var SosButtonStatus = $("#SosButton").val();
    var caseStatus = $("#CaseStatus").val();
    if (status == "wear") {
        if (wearableActiveStatus == "Active") {
            $("#WearableActivated").val("Inactive");
        } else {
            $("#WearableActivated").val("Active");
        }
    } else if (status == "case_status") {
        if (caseStatus == "Active") {
            $("#CaseStatus").val("Inactive");
        } else {
            $("#CaseStatus").val("Active");
        }
    } else {
        if (SosButtonStatus == "Active") {
            $("#SosButton").val("Inactive");
        } else {
            $("#SosButton").val("Active");
        }
    }
            }

        </script>
    }
}

@{
    if (acs.e && acs.d)
    {
    <script type="text/javascript">
        function removePerson() {
            alertConfirmation("Are you sure you want to delete this profile ?", "Yes", "fa fa-question-circle", "Delete();", "alertConfirmClose();");
        }
        function Delete() {
            var voData = {
                stationNo: '@data.stationNo',
            };

        // Dialog
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Destroy", "ProfileMaster")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
            });
        }
    </script>
    }
    else
    {
        <div id="myModal">
            <div class="armchair">
                <div class="row" style="margin: 0px !important;">
                    <div class="col-md-11" style="text-align: center;">
                        <p style="text-align: center; background-color: red">
                            <h3>Please Enter Administrator Password <br /> To Confirm the <div style="color: #c82333 ">DELETION</div> of Station No : <b>@data.stationNo</b></h3>
                        </p>
                        <br />
                        <div class="k-edit-label">
                            <h3> Username :</h3>
                        </div>
                        <div class="k-edit-field">
                            <input id="AdminUsername" type="text" placeholder="Username" class="myInput">
                        </div>
                        <div class="k-edit-label">
                            <h3> Password :</h3>
                        </div>
                        <div class="k-edit-field">
                            <input id="AdminPassword" type="password" placeholder="*******" class="myInput">
                        </div>
                    </div>
                </div>
            </div>
            <div class="window-footer">
                <button type="button" class="btn btn-default" onclick="closeRemarks()">Close</button>
                <button type="button" style="" class="btn btn-danger" onclick="saveValidation()">Delete</button>
            </div>
        </div>
        <script type="text/javascript">
            function closeRemarks() {
                $("#myModal").data("kendoWindow").close();
            }
            $(document).ready(function () {
                $("#myModal").kendoWindow({
                    modal: true, visible: false,
                    width: 500,
                    title: "Responsive dialog",
                    actions: [
                        "Close"
                    ],
                    height: 280
                });
            });

            function DeleteConfirmation() {
                var dialog = $("#myModal").data("kendoWindow");
                dialog.title("Confirmation");
                dialog.center().open();
            }

            function saveValidation() {
                var username = $("#AdminUsername").val();
                var password = $("#AdminPassword").val();
                var stationNo = '@data.stationNo';

                var voData = {
                    username: username,
                    password: password,
                    stationNo: '@data.stationNo',
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("checkAdministratorPassword", "ProfileMaster")?username=' + username + '&&password=' + password + '&&stationNo' + stationNo,
                    data: JSON.stringify(voData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        if (result.errorcode == 0) {
                            $("#myModal").data("kendoWindow").close();
                            alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                        } else {
                            alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                        }
                    },
                    error: function (xmlhttprequest, textstatus, message) {

                    }
                });
            }
        </script>
    }
}
@{
    if (acs.e && acs.u)
    {
        <script type="text/javascript">
        function UpdatePerson() {
            alertConfirmation("Are you sure you want to Update this profile ?", "Yes", "fa fa-question-circle", "Update();", "alertConfirmClose();");
        }
        function Update() {
            var objectId = '@data._id';
            var voData = {
            id: objectId.toString(),
            HealthRemarks: $("#HealthRemarks").val(),
            CaseRemarks: $("#Case").val(),
            DefaultWearable: $("#WearableID").val(),
            defaultZone: $("#Location").val(),
            WearableActivated: $("#WearableActivated").val(),
            SosButton: $("#SosButton").val(),
            status: $("#CaseStatus").val(),
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Update", "ProfileMaster")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
        }
        </script>
    }
}