﻿@using has.iot.Models;
@{
    ViewBag.Title = "Profile Master";
    ViewBag.TitleBar = "Profile Master";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "ProfileMaster");
}
<style>
    div.k-grid-header thead th.k-header {
        height: 20px;
    }

    .k-grid td {
        padding: 1em 1em
    }
</style>
@{
    if (acs.e && acs.r)
    {
        <div class="body-content">
            <div class="row">
                <!-- Button Drop Down -->
                <div class="form-group form-inline style=" margin-left: 0px;">
                    <label class="col-md-5 control-label" for="buttondropdown" style="font-weight:bold;color:#464A53;">Status</label>
                    <div class="col-md-6">
                        <input id="FilterStatus" placeholder="Select" class="myInput" />
                    </div>
                </div>
                @(Html.Kendo().Grid<has.iot.Models.ProfileMaster>()
        .Name("grid")
        //.Groupable()
        .Columns(columns =>
        {
            columns.Bound(c => c.stationNo).Title("Station No").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
            columns.Bound(c => c.DefaultWearable).Title("Wearable").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
            columns.Bound(c => c.defaultZone).Title("Location").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
            columns.Bound(c => c.status).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("equals").SuggestionOperator(FilterType.Contains))).Title("Status").Width(100);
            columns.Command(c =>
            {
                if (acs.u && acs.u)
                {
                    c.Custom("Edit").Text("EDIT").IconClass("k-icon k-i-pencil").Click("gridrow_onEdit");
                }
                if (acs.u && acs.r)
                {
                    c.Custom("Detail").Text("Detail").IconClass("k-icon k-i-list-unordered").Click("gridrow_onDetail");
                }
            }).Width(140);
        })
        .DataSource(ds => ds

            .Ajax()
            .Read(read => read.Action("Excel_Export_Read", "Grid"))
            //.Group(groups => groups.Add(c => c.Zone))
            .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
            .Model(m =>
            {
                m.Id(r => r._id);
                m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
            })
            .PageSize(10)
            .Create(c => c.Action("Create", "ProfileMaster"))
            .Read(r => r.Action("Read", "ProfileMaster"))
            .Update(r => r.Action("Update", "ProfileMaster"))
            .Destroy(r => r.Action("Destroy", "ProfileMaster"))
            )
        .Events(e => e.Edit("grid_onEdit"))
        .Selectable()
        .Filterable(a => a.Mode(GridFilterMode.Row))
        .HtmlAttributes(new { style = "height:550px;" })
        .Pageable(p => p.Refresh(true))
        .Reorderable(r => r.Columns(true))
        .Resizable(r => r.Columns(true))
        .Sortable()
        .Scrollable()
)
            </div>
        </div>

        <script type="text/javascript">
    $(document).ready(function () {
        var grid = $("#grid").data("kendoGrid");

        grid.dataSource.sort([{ field: "defaultZone", dir: "asc" }]);

        $("#FilterStatus").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Active", value: "Active" },
                { text: "Inactive", value: "Inactive" },
                { text: "All", value: "All" },
            ],
            filter: "contains",
            suggest: true,
            index: 3,
            change: function (e) {
                var value = this.value();
                filterGrid(value);
            }
        });

        $("#FilterStatus").data("kendoComboBox").select(0);
        filterGrid("Active");
    });

    // filter grid
    function filterGrid(e) {
        var grid = $('#grid').data('kendoGrid');
        var field = 'Status';
        var operator = 'eq';
        //var value = e.sender.value();
        var value = e;
        if (value == "All" || value == "") {
            grid.dataSource.filter({});
        }
        else {
            grid.dataSource.filter({
                field: field,
                operator: operator,
                value: value
            });
        }
    }

    var ws= "";
    $(function () {
    // Start the connection.
    });

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {
            //$("#DeviceID").attr("readonly", true);
            $(".k-button.k-button-icontext.k-grid-cancel").attr("style", "");
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDetail(e) {
        e.preventDefault();
        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);
        //vWindowModal.title("Reset Confirmation?");
        //vWindowModal.content(vTemplateDelete(vData));
        //vWindowModal.center().open();
        console.log(vData);
        var stationNo = vData.stationNo;
        window.location.replace("@Url.Action("Detail", "ProfileMaster")?id=" + stationNo);

    }
    function gridrow_onEdit(e) {
        e.preventDefault();
        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);
        //vWindowModal.title("Reset Confirmation?");
        //vWindowModal.content(vTemplateDelete(vData));
        //vWindowModal.center().open();
        var stationNo = vData.stationNo;
        window.location.replace("@Url.Action("Edit", "ProfileMaster")?id=" + stationNo);

    }

    function myalert(content) {
        $("<div></div>").kendoAlert({
            title: "Information",
            content: content
        }).data("kendoAlert").open();
    }
        </script>
        <script type="text/x-kendo-template" id="templateDelete">
        <div class="k-edit-form-container">
            <div data-role="confirm" id="f290a903-f765-4ed2-807b-162e94212156_k-popup" class="k-content k-window-content k-dialog-content" tabindex="0">Reset #=personID# to Default Parameter Setpoint ?</div>
            <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonResetYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
        </div>
        </script>
    }
}