﻿@using has.iot.Models;
@using has.iot.Components;
@{
    ViewBag.Title = "Users";
    ViewBag.TitleBar = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string modAccess = System.Web.HttpContext.Current.Session["accessMod"] as string;
    List<featuresAccess> result = Newtonsoft.Json.JsonConvert.DeserializeObject<List<featuresAccess>>(modAccess);
    featuresAccess acs = result.Find(f => f.modul == "Users");
}
<style>
    div.k-grid-header thead th.k-header {
        height: 20px;
    }

    .k-grid td {
        padding: 1em 1em
    }
</style>
<div class="body-content">
    <div class="row">
        @(Html.Kendo().Grid<UsersGrid>()
            .Name("grid")
            .ToolBar(tools =>
            {
                if (acs.c)
                {
                    tools.Custom().Name("Add New").Text("Add New").IconClass("k-icon k-i-plus").Action("UsersAdd", "Users");
                }
            })
            .Columns(columns =>
            {
                if (acs.u && acs.d)
                {
                    columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-detail' href='" + Url.Action("UsersDetail", "Users", new { id = "#=id#" }) + "'><span class='k-icon k-i-edit'></span></a> " + " <a class='k-button k-detail' style='#= (usrName == 'ADMIN') ? 'display:none;' : '' #' onclick='removeUser(\"#=id#\",\"#=uptOn#\");'><span class='k-icon k-i-trash'></span></a>").Width(20);
                }else
                if (acs.u && !acs.d)
                {
                    columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-detail' href='" + Url.Action("UsersDetail", "Users", new { id = "#=id#" }) + "'><span class='k-icon k-i-edit'></span></a> ").Width(20);
                }else
                if (acs.d && !acs.u)
                {
                    columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-detail' style='#= (usrName == 'ADMIN') ? 'display:none;' : '' #' onclick='removeUser(\"#=id#\",\"#=uptOn#\");'><span class='k-icon k-i-trash'></span></a>").Width(20);
                }
                columns.Bound(c => c.usrName).Title("User ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(70);
                columns.Bound(c => c.fstName).Title("User Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(70);
                columns.Bound(c => c.rlName).Title("Role").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(80);
            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.RequestEnd("grid_onRequestEnd"))
                .Model(m =>
                {
                    m.Id(r => r.id);
                }
                )
                .PageSize(30)
                .Read(r => r.Action("UsersRead", "Users"))
                //.Read(r => r.Action("UsersRead", "Users").Type(HttpVerbs.Get))
            )
            .Events(ev => ev.DataBound("grid_onDataBound"))
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            )
    </div>
</div>

<script type="text/javascript">
    function removeUser(id,uptOn) {

        alertConfirmation("Delete user ?", "Yes", "fa fa-question-circle", "deleteUser("+id+",'"+uptOn+"');", "alertConfirmClose();");

    }
    function deleteUser(id, uptOn) {
        var voData = {
                id: id,
                crtBy: '@Constant.GetUserLogin()',
                crtAt : '@Constant.GetIPAddress()',
                uptOn: uptOn
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UsersDelete","Users")',
                dataType: 'json',
                data: JSON.stringify(voData),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                },
                success: function (result) {
                    if (result.errorcode == 0) {
                        alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                    } else {
                        alertConfirm(result.message, "Close", "fa fa-check-circle", "alertConfirmClose();");
                    }
                }
            });
    }

    function usrnameFilter(element) {
        element.kendoAutoComplete({
            dataTextField: "usrName",
            dataSource: {
                transport: {
                    read: "@Url.Action("UsersDataColumn", "Users")?field=usrName"
                }
            }
        });
    }
    function firstNameFilter(element) {
        element.kendoAutoComplete({
            dataTextField: "fstName",
            dataSource: {
                transport: {
                    read: "@Url.Action("UsersDataColumn", "Users")?field=fstName"
                }
            }
        });
    }
    function rlNameFilter(element) {
        element.kendoAutoComplete({
            dataTextField: "rlName",
            dataSource: {
                transport: {
                    read: "@Url.Action("UsersDataColumn", "Users")?field=rlName"
                }
            }
        });
    }

    function grid_onDataBound(e) {
        var voGrid = $('#grid').data('kendoGrid');
        var voGridData = voGrid.dataSource.view();
        var vvID;
        var voRow;

        for (var i = 0; i < voGridData.length; i++) {
            vvID = voGridData[i].uid;
            voRow = voGrid.table.find("tr[data-uid='" + vvID + "']");
        }
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
</script>

