﻿@using has.iot.Models;
@using has.iot.Components;
@{
    ViewBag.Title = "User Add New";
    ViewBag.TitleBar = "User Add New";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Moduls> voData = ViewData["moduls"] as List<Moduls>;
}

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }
</style>

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }


    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<div class="body-content">
    <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title mb-0">
                                        <h7 class="mb-0">User Data</h7>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrName" class="col-sm-4 col-form-label text-right">User ID <span style="color: red;"> *</span></label>
                                <div class="col-sm-8">
                                    @(Html.Kendo().TextBox()
                                        .Name("usrName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="frstName" class="col-sm-4 col-form-label text-right">User Name</label>
                                <div class="col-sm-8">
                                    @(Html.Kendo().TextBox()
                                        .Name("fstName")
                                        .HtmlAttributes(new { style = "width: 100%", @autocomplete ="false" }).Enable(true)
                                    )
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="usrPass" class="col-sm-4 col-form-label text-right">Password <span style="color: red;"> *</span></label>
                                <div class="col-sm-8">
                                    @(Html.Kendo().TextBox()
                                        .Name("usrPass")
                                        .HtmlAttributes(new { style = "width: 100%", @type = "password", @autocomplete = "false", @maxlength = "128", @minlength = "8" }).Enable(true)
                                    )
                                    <progress max="100" value="0" id="meter" style="width: 100%;"></progress>
                                    <div id="passmsg"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="caseID" class="col-sm-4 col-form-label text-right">Role</label>
                                <div class="col-sm-8">
                                    @(Html.Kendo().DropDownList()
                                      .Name("rlId")
                                      .DataTextField("rlName")
                                      .DataValueField("rlId")
                                      .Events(e => e.Change("roleChange"))
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("RolesDDL","Users").Type(HttpVerbs.Get);
                                          });
                                      }).Value("R001")
                                      .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-footer">
                    <div class="card-title mb-0 text-right">
                        <button type="button" class="btn btn-primary" onclick="submit(this)">Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.replace('@Url.Action("Index","Users")')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        roleChange();
    });

    var code = document.getElementById("usrPass");

    var strengthbar = document.getElementById("meter");
    var display = document.getElementById("passmsg");

    code.addEventListener("keyup", function() {
      checkpassword(code.value);
    });


    function checkpassword(password) {
        var strength = 0;
        if (password.match(/[a-z]+/)) {
        strength += 1;
        }
        if (password.match(/[A-Z]+/)) {
        strength += 1;
        }
        if (password.match(/[0-9]+/)) {
        strength += 1;
        }
        if (password.match(/[$@@#&!]+/)) {
        strength += 1;
        }

        if (password.length < 8) {
            display.innerHTML = "minimum number of characters is 8";
        } else if (password.length > 128 ) {
            display.innerHTML = "maximum number of characters is 128";
        } else {
            display.innerHTML = "";
        }

        switch (strength) {
            case 0:
                strengthbar.value = 0;
                strengthlbl = "very low";
                break;

            case 1:
                strengthbar.value = 25;
                strengthlbl = "low";
                break;

            case 2:
                strengthbar.value = 50;
                strengthlbl = "medium";
                break;

            case 3:
                strengthbar.value = 75;
                strengthlbl = "high";
                break;

            case 4:
                strengthbar.value = 100;
                strengthlbl = "very high";
                break;
        }
        display.innerHTML = "("+strengthlbl+") "+display.innerHTML;
    }

    function submit(e) {
        var voData = {
            usrId: $("#usrId").val(),
            usrName: $("#usrName").val(),
            usrPass: $("#usrPass").val(),
            fstName: $("#fstName").val(),
            lstName: $("#lstName").val(),
            rlId: $("#rlId").data("kendoDropDownList").value(),
            rlName: $("#rlId").data("kendoDropDownList").text(),
            crtBy: '@Constant.GetUserLogin()',
            crtAt : '@Constant.GetIPAddress()'
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UsersCreate","Users")',
            dataType: 'json',
            data: JSON.stringify(voData),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(e).attr("disabled", "disabled");
            },
            success: function (result) {
               $(e).removeAttr("disabled");
                if (result.errorcode == 0) {
                    alertConfirm(result.message, "Close", "fa fa-check-circle", "alertConfirmClose();");
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                } else {
                    alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                }
            }
        });
    }

    function roleChange() {

        var voData = {
            id: $("#rlId").data("kendoDropDownList").value()
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Action("RolesReadDetail", "Users")',
            dataType: 'json',
            data: voData,
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('input:checkbox').prop('checked', false);
            },
            success: function (result) {

                var modAccess = JSON.parse(result.acsMod);
                for (i = 0; i < modAccess.length; i++) {
                    $('input:checkbox#'+modAccess[i].modul+'_c').prop('checked', modAccess[i].c);
                    $('input:checkbox#'+modAccess[i].modul+'_r').prop('checked', modAccess[i].r);
                    $('input:checkbox#'+modAccess[i].modul+'_u').prop('checked', modAccess[i].u);
                    $('input:checkbox#'+modAccess[i].modul+'_d').prop('checked', modAccess[i].d);
                    $('input:checkbox#'+modAccess[i].modul+'_e').prop('checked', modAccess[i].e);
                }
            }
        });
    }
</script>
