﻿@using has.iot.Models;
@using has.iot.Components;
@{
    ViewBag.Title = "User Add New";
    ViewBag.TitleBar = "User Add New";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Moduls> voData = ViewData["moduls"] as List<Moduls>;
}

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }
</style>

<style>
    .th-role td {
        padding: 0px 10px !important;
    }

    .tb-role td {
        padding: 0px 10px !important;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }


    .myLabel {
        margin-left: 0px;
    }

    .myInput {
        width: 100%;
    }

    .vl {
        border-left: 1px solid transparent;
        filter: blur(1px); /* Amount of bluryness */
        border-image: linear-gradient(white, black, white) 1 stretch;
        margin-left: -5%;
        padding-right: 1%;
    }

    .dropZoneElement {
        position: relative;
        display: inline-block;
        background-color: #f8f8f8;
        border: 1px solid #c7c7c7;
        width: 500px;
        height: 140px;
        text-align: center;
        margin-left: 10%;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 18px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: #000;
    }

    .dropImageHereText {
        color: #c7c7c7;
        text-transform: uppercase;
        font-size: 12px;
    }

    .wrapper:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .or {
        margin: auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%,-45%);
    }

    /* Switch button */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #6ACC74;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6ACC74;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<div class="body-content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title mb-0">
                                    <h7 class="mb-0">User Data</h7>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usrName" class="col-sm-4 col-form-label text-right">User ID <span style="color: red;"> *</span></label>
                            <div class="col-sm-8">
                                @(Html.Kendo().TextBox()
                                        .Name("usrName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                                <input type="hidden" style="display:none;" id="uptOn" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="frstName" class="col-sm-4 col-form-label text-right">User Name</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().TextBox()
                                        .Name("fstName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usrPass" class="col-sm-4 col-form-label text-right">Password</label>
                            <div class="col-sm-8">
                                <div id="text-pass" style="display:none;">
                                    @(Html.Kendo().TextBox()
                                            .Name("usrPassCurrent")
                                            .HtmlAttributes(new { style = "width: 100%;", @placeholder = "current password", @type = "password" }).Enable(true)
                                        )
                                    @(Html.Kendo().TextBox()
                                            .Name("usrPass")
                                            .HtmlAttributes(new { style = "width: 100%;", @placeholder = "new password", @type = "password", @maxlength = "128", @minlength = "8" }).Enable(true)
                                        )
                                    @(Html.Kendo().TextBox()
                                            .Name("usrPass2")
                                            .HtmlAttributes(new { style = "width: 100%;", @placeholder = "confirm new password", @type = "password", @maxlength = "128", @minlength = "8" }).Enable(true)
                                        )
                                    <progress max="100" value="0" id="meter" style="width: 100%;"></progress>
                                    <div id="passmsg"></div>
                                </div>
                                <div id="pass-change" class="btn btn-primary" onclick="changePass(1);">Change</div>
                                <div id="cancel-change" class="btn btn-dark" onclick="changePass(2);" style="display: none;">Cancel</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="caseID" class="col-sm-4 col-form-label text-right">Role</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().DropDownList()
                                      .Name("rlId")
                                      .DataTextField("rlName")
                                      .DataValueField("rlId")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("RolesDDL","Users").Type(HttpVerbs.Get);
                                          });
                                      })
                                      .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-footer">
                    <div class="card-title mb-0 text-right">
                        <button type="button" class="btn btn-primary" onclick="submit(this)">Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.replace('@Url.Action("Index","Users")')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="body-content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title mb-0">
                                    <h7 class="mb-0">User Data</h7>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usrName" class="col-sm-4 col-form-label text-right">User ID <span style="color: red;"> *</span></label>
                            <div class="col-sm-8">
                                @(Html.Kendo().TextBox()
                                        .Name("usrName")
                                        .HtmlAttributes(new { style = "width: 100%" }).Enable(true)
                                    )
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="frstName" class="col-sm-4 col-form-label text-right">User Name</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().TextBox()
                                        .Name("fstName")
                                        .HtmlAttributes(new { style = "width: 100%", @autocomplete ="false" }).Enable(true)
                                    )
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usrPass" class="col-sm-4 col-form-label text-right">Password <span style="color: red;"> *</span></label>
                            <div class="col-sm-8">
                                @(Html.Kendo().TextBox()
                                        .Name("usrPass")
                                        .HtmlAttributes(new { style = "width: 100%", @type = "password", @autocomplete = "false", @maxlength = "128", @minlength = "8" }).Enable(true)
                                    )
                                <progress max="100" value="0" id="meter" style="width: 100%;"></progress>
                                <div id="passmsg"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="caseID" class="col-sm-4 col-form-label text-right">Role</label>
                            <div class="col-sm-8">
                                @(Html.Kendo().DropDownList()
                                      .Name("rlId")
                                      .DataTextField("rlName")
                                      .DataValueField("rlId")
                                      .Events(e => e.Change("roleChange"))
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("RolesDDL","Users").Type(HttpVerbs.Get);
                                          });
                                      }).Value("R001")
                                      .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-footer">
                    <div class="card-title mb-0 text-right">
                        <button type="button" class="btn btn-primary" onclick="submit(this)">Save</button>
                        <button type="button" class="btn btn-dark" onclick="window.location.replace('@Url.Action("Index","Users")')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#usrPass").val("");
        $("#usrPass2").val("");
        loadData();
    });
    function changePass(id) {
        if (id == 1) {
            $("#text-pass").show();
            $("#cancel-change").show();
            $("#pass-change").hide();
        } else if (id == 2) {
            $("#pass-change").show();
            $("#text-pass").hide();
            $("#usrPass").val("");
            $("#usrPass2").val("");
            $("#cancel-change").hide();
            display.innerHTML = "";
            strengthbar.value = 0;
        }
    }
    var code = document.getElementById("usrPass");
    var code2 = document.getElementById("usrPass2");

    var strengthbar = document.getElementById("meter");
    var display = document.getElementById("passmsg");

    code.addEventListener("keyup", function() {
      checkpassword(code.value);
    });
    code2.addEventListener("keyup", function () {
        if (code.value === code2.value) {
            display.innerHTML = "confrim password match";
        } else {
            display.innerHTML = "confrim password unmatch";
        }
    });


    function checkpassword(password) {
      var strength = 0;
      if (password.match(/[a-z]+/)) {
        strength += 1;
      }
      if (password.match(/[A-Z]+/)) {
        strength += 1;
      }
      if (password.match(/[0-9]+/)) {
        strength += 1;
      }
      if (password.match(/[$@@#&!]+/)) {
        strength += 1;
      }

        if (password.length < 8) {
            display.innerHTML = "minimum number of characters is 8";
        } else if (password.length > 128) {
            display.innerHTML = "maximum number of characters is 128";
        } else {
            display.innerHTML = "";
        }

      switch (strength) {
        case 0:
          strengthbar.value = 0;
          strengthlbl = "very low";
          break;

        case 1:
          strengthbar.value = 25;
          strengthlbl = "low";
          break;

        case 2:
          strengthbar.value = 50;
          strengthlbl = "medium";
          break;

        case 3:
          strengthbar.value = 75;
          strengthlbl = "hight";
          break;

        case 4:
          strengthbar.value = 100;
          strengthlbl = "very hight";
          break;
        }
        display.innerHTML = "("+strengthlbl+") "+display.innerHTML;
    }
    function submit(e) {
        if ($("#usrPass").val() === $("#usrPass2").val() || $("#usrPass").attr("style") == "width: 100%; display:none;") {
            var voData = {
                id: '@ViewData["id"].ToString()',
                usrId: $("#usrId").val(),
                usrName: $("#usrName").val(),
                usrPass: $("#usrPass").val(),
                fstName: $("#fstName").val(),
                lstName: $("#lstName").val(),
                rlId: $("#rlId").data("kendoDropDownList").value(),
                rlName: $("#rlId").data("kendoDropDownList").text(),
                crtBy: '@Constant.GetUserLogin()',
                crtAt: '@Constant.GetIPAddress()',
                uptOn: $("#uptOn").data("kendoDateTimePicker").value(),
                usrPassConfirm : $("#usrPass2").val(),
                usrPassCurrent : $("#usrPassCurrent").val()
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UsersUpdate","Users")',
                dataType: 'json',
                data: JSON.stringify(voData),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled", "disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    if (result.errorcode == 0) {
                        alertConfirm(result.message, "Close", "fa fa-check-circle", "window.location.reload();");
                    } else {
                        alertConfirm(result.message, "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
                    }
                }
            });
        } else {
            alertConfirm("Password and confirm password does not match!", "Close", "fa fa-exclamation-circle", "alertConfirmClose();");
        }
    }

    function loadData() {
        var voData = {
            id: '@ViewData["id"].ToString()',
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UsersReadDetail","Users")',
            dataType: 'json',
            data: voData,
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.errorcode == 0) {
                    $("#usrId").val(result.data.user.usrId);
                    $("#usrName").val(result.data.user.usrName);
                    $("#fstName").val(result.data.user.fstName);
                    $("#lstName").val(result.data.user.lstName);
                    $("#rlId").data("kendoDropDownList").value(result.data.user.rlId);
                    var upTs = formatDate(result.data.user.uptOn);
                    if (upTs.split(" ")[0] == "01/01/1") {
                        upTs = "01/01/0001 00:00:00";
                    }
                    $("#uptOn").kendoDateTimePicker({
                        format: "dd/MM/yyyy HH:mm:ss",
                        value: upTs,
                        dateInput: false,
                        visible:false
                    });
                    $("#uptOn").data("kendoDateTimePicker").value(upTs);
                    var modAccess = JSON.parse(result.data.role.acsMod);
                    for (i = 0; i < modAccess.length; i++) {
                      $('input:checkbox#'+modAccess[i].modul+'_c').prop('checked', modAccess[i].c);
                      $('input:checkbox#'+modAccess[i].modul+'_r').prop('checked', modAccess[i].r);
                      $('input:checkbox#'+modAccess[i].modul+'_u').prop('checked', modAccess[i].u);
                      $('input:checkbox#'+modAccess[i].modul+'_d').prop('checked', modAccess[i].d);
                      $('input:checkbox#'+modAccess[i].modul+'_e').prop('checked', modAccess[i].e);
                    }
                }
            }
        });
    }

    function formatDate(poDate) {
        var voD = ""
        if (poDate != null) {
            var startD = poDate.replace("/Date(", "");
            startD = startD.replace(")/", "");
            var date = new Date(parseInt(startD));

            var hours = date.getHours();
            // Minutes part from the timestamp
            var minutes = "0" + date.getMinutes();
            // Seconds part from the timestamp
            var seconds = "0" + date.getSeconds();

            voD = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
            voD = voD+ ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        }
        return voD;
    }

    function roleChange() {

        var voData = {
            id: $("#rlId").data("kendoDropDownList").value()
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Action("RolesReadDetail","Systems")',
            dataType: 'json',
            data: voData,
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $('input:checkbox').prop('checked', false);
            },
            success: function (result) {

                var modAccess = JSON.parse(result.acsMod);
                for (i = 0; i < modAccess.length; i++) {
                    $('input:checkbox#'+modAccess[i].modul+'_c').prop('checked', modAccess[i].c);
                    $('input:checkbox#'+modAccess[i].modul+'_r').prop('checked', modAccess[i].r);
                    $('input:checkbox#'+modAccess[i].modul+'_u').prop('checked', modAccess[i].u);
                    $('input:checkbox#'+modAccess[i].modul+'_d').prop('checked', modAccess[i].d);
                    $('input:checkbox#'+modAccess[i].modul+'_e').prop('checked', modAccess[i].e);
                }
            }
        });
    }
</script>